@charset "UTF-8";

/*	Pour lire à tête reposée : imprimer l’écran !
	-----------------------------------------------------------------------------------
	Supplément à la feuille de style du thème Pierrot pendu
	Version 2023-10-0.6 [active] : 2023-10-26
	Basé sur le jeu de templates « dotty »
	Auteur : L’atelier de Virginia Pearl par Alex Gulphe
	2023. Licence CC BY-NC-SA 4.0

	Pour donner aux publications de la collection Pierrot pendu 
	le support traditionnel des livres [As a book!].

	La question de l’impression est posée. Il reste à y répondre…
	en tenant compte des capacités d’interprétation du code par les différents navigateurs.
	See
	https://developer.mozilla.org/en-US/docs/Web/Guide/Printing
	https://la-cascade.io/articles/css-noubliez-pas-limpression-papier
	https://openweb.eu.org/articles/maitriser_impression_css
	https://www.pompage.net/traduction/impression
	https://www.creastuces.com/des-styles-css-pour-optimiser-limpression-papier/
	https://www.alsacreations.com/astuce/lire/1160-Une-feuille-de-styles-de-base-pour-le-media-print.html
	https://alban-haouaci.medium.com/weasyprint-ou-lart-d-imprimer-du-html-css-e530b9f6508b
	https://www.michaelperrin.fr/blog/2019/10/printing-the-web-part-1-retrieving-content-from-the-web
	https://www.michaelperrin.fr/blog/2019/11/printing-the-web-part-2-html-and-css-for-printing-books

	Chromium : émuler le « print » via l’inspecteur avec Cmd ⇪ P et chercher "media"
	----------------------------------------------------------------------------------- */



/*	----------------------------------------------------------------------------------- */
/*	Modèle stylistique pour l’impression au format A4 */
/*	----------------------------------------------------------------------------------- */
/*	Spécifications du format et de l’empagement | Configuration
	Partiellement prises en compte… à moins d’ajouter le script Paged.js ! */

@media print {
	@page {
	size:A4 portrait;
		margin-top:24mm;
		margin-right:40mm;
		margin-bottom:32mm;
		margin-left:40mm;
		@bottom-center {
			text-align:center;
			vertical-align:middle;
			font-size:calc(var(--font-size)*.75);
			content:"Pierrot pendu\00A0| "counter(page)" de\00A0" counter(pages);
		}
	}

html, body {
--font-size:14px !important;
--baseline:14px !important;
}



/*	----------------------------------------------------------------------------------- */
/*	Remise à plat des styles (évaluation) | Configuration */
/*
* {
all:unset;
display:revert;
}
*/
/*
*,
*::before,
*::after { box-sizing:border-box; }
*/



/*	----------------------------------------------------------------------------------- */
/*	Il serait bien de conserver ces éléments « entier » lors des sauts de pages ! */
ul, ol, dl,
blockquote,
table,
pre,
a { break-inside:avoid; }

h1, h2, h3, h4, h5, h6 {
break-inside:avoid;
break-after:avoid;
}

p + p.auteur {
break-inside:avoid;
break-before:avoid;
}

figure, figure.media-first,
img, figcaption {
break-inside:avoid;
break-after:avoid;
break-before:unset;
}

ul, ol, dl { break-before:avoid; }

.post-content hr.asterism {
break-inside:avoid;
break-after:avoid;
}

blockquote {
break-inside:avoid;
break-after:avoid;
break-before:avoid;
}



/*	----------------------------------------------------------------------------------- */
/*	Ce qu’il est est humainement possible de faire pour la veuve et l’orphelin ! */
p { orphans:2; widows:3; }



/*	----------------------------------------------------------------------------------- */
/*	Tout ce qui doit disparaître | Configuration */
/*	Prelude et Menu simple | Configuration */
#a42-ac, #menu-simple, .header, .navlinks, .post-attachments, #comments, .sidebar, #gotop, #footer,
.dc-category header#content-info,
.post-permalink,
.post-info-co,
a::after, /* Les URL ! */
.bigfoot-footnote__container, button, /* Les notes de bas de page */
.footnote-backref { display:none; }



/*	----------------------------------------------------------------------------------- */
/*	Polices de caractères | Configuration */
/*	Noto Serif Display */
@font-face {
	font-family:'Noto Serif Display';
	src:
		local('Noto Serif Display'),
		url('fontes/Noto/Display/NotoSerifDisplay-Regular.woff2') format('woff2');
	font-weight:400;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif Display';
	src:
		local('Noto Serif Display'),
		url('fontes/Noto/Display/NotoSerifDisplay-Medium.woff2') format('woff2');
	font-weight:500;
	font-style:normal;
	font-display:swap;
}
/*	Noto Serif */
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-Light.woff2') format('woff2');
	font-weight:300;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-LightItalic.woff2') format('woff2');
	font-weight:300;
	font-style:italic;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-Regular.woff2') format('woff2');
	font-weight:400;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-Italic.woff2') format('woff2');
	font-weight:400;
	font-style:italic;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-Medium.woff2') format('woff2');
	font-weight:500;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-MediumItalic.woff2') format('woff2');
	font-weight:500;
	font-style:italic;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif S'),
		url('fontes/Noto/Serif/NotoSerif-SemiBold.woff2') format('woff2');
	font-weight:600;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-SemiBoldItalic.woff2') format('woff2');
	font-weight:600;
	font-style:italic;
	font-display:swap;
}



/*	----------------------------------------------------------------------------------- */
/*	Spécifications de base et mise en boîte | Configuration */
body {
background-color:#FFF;
font-family:'Noto Serif', 'Georgia', serif;
--font-size:16px;
--baseline:16px;
font-feature-settings:'kern' 1,'dlig','liga','calt'; /* 'calt' pour Contextual alternates */
color:#000;
font-variant-numeric:oldstyle-nums;
font-optical-sizing:auto;
}



/*	----------------------------------------------------------------------------------- */
/*	Les titres | Configuration */
h1, h2, h3, h4, h5, h6 { font-family:'Noto Serif Display', 'Georgia', serif; }
h1 {
margin:0;
padding:0;
font-weight:400;
font-size:calc(var(--font-size)*2.35);
line-height:calc(var(--baseline)*2.5);
}

h2, h3, h4, h5, h6 { font-weight:500; }
h3, h4, h5, h6 {
margin:calc(var(--baseline)*1.5) 0 calc(var(--baseline)*0.5) 0;
padding-left:calc(var(--baseline)*1.5);
}
h2 {
margin:0 0 calc(var(--baseline)*1) 0; /* Prendre de la distance avec ce qui suit ! */
padding:0;
font-size:calc(var(--font-size)*1.8);
line-height:calc(var(--baseline)*2.05);
}
h3 {
font-size:calc(var(--font-size)*1.3);
line-height:calc(var(--baseline)*1.55);
}
h4 {
font-size:calc(var(--font-size)*1.2);
line-height:calc(var(--baseline)*1.45);
}
h5 {
font-size:calc(var(--font-size)*1.1);
line-height:calc(var(--baseline)*1.35);
}
h6 {
font-size:calc(var(--font-size)*1);
line-height:calc(var(--baseline)*1.25);
}
h3 + h4, h4 + h5, h5 + h6 { margin-top:0; }



/*	----------------------------------------------------------------------------------- */
/*	Traité de style général | Configuration */
/*	Les liens | Configuration */
a:link, a:visited {
text-decoration:none;
border-bottom:none;
color:#000;
}

/*	Un monde en liste | Configuration */
ol, ul {
margin:0 0 calc(var(--baseline)*.75) 0;
padding:0;
list-style-position:outside;
line-height:calc(var(--baseline)*1.25); /* Évaluation */
}
ul { list-style-type: "–"; }
ul li {
margin:0 0 0 calc(var(--baseline)*1.05);
padding:0 0 0 calc(var(--baseline)*.45);
}
ol li {
margin:0 0 0 calc(var(--baseline)*1.3);
padding:0 0 0 calc(var(--baseline)*.2);
}
ol li::marker { font-variant-numeric:oldstyle-nums !important; }
li > ul { margin-bottom:0; }
li > ul li { margin-left:calc(var(--baseline)*.45); }
li > ol { margin-bottom:0; }
li > ol li { margin-left:calc(var(--baseline)*.9); }

/*	Un monde en liste | Les catégories et sous-catégories */
/* .dc-category ul li.post-cat {
margin-left:calc(var(--baseline)*1.5);
padding:0;
list-style-type:none;
} */
/* li.post-cat::before { content:'\22B3\0020'; opacity:.45; } */

/*	Un monde en liste | L’index général des mots-clés */
.post-content .keywords {
/* margin-right:calc(var(--baseline)*.28); */ /* Coquetterie : la colombelle (column-rule) centrée sur le menu ! */
columns:2 77mm; /* La largeur calculée d’une colonne est de 79 mm ! */
column-gap:8mm;
column-rule:1px solid;
}

ul.tags {
list-style-type:none;
margin:0;
padding:0;
}
ul.tags li {
margin:0 0 calc(var(--baseline)*.2) 1rem;
padding:0;
text-indent:-1rem;
}
/* Une unique colonne s’imprime ! C’est la faute à « break-inside et -before » ! */
ul.tags { break-inside:unset; break-before:unset; }
/*	See http://stylescss.free.fr/v2-properties/break-inside.php
	http://stylescss.free.fr/v2-properties/break-before-after.php */

/*	Les citations | Configuration */
blockquote::before, blockquote::after,
cite::before, cite::after,
q::before, q::after {
content:none;
}
blockquote {
margin:calc(var(--baseline)*.75) 0 calc(var(--baseline)*.75) calc(var(--baseline)*1.5);
padding:0;
}
.post-content blockquote p {
padding-bottom:calc(var(--baseline)*.75);
/* font-size:calc(var(--font-size)*.9); */
text-indent:0;
font-weight:300;
}
.post-content blockquote p + p {
padding-bottom:calc(var(--baseline)*.75);
text-indent:0; }
.post-content blockquote p:last-child { padding-bottom:0; }

abbr, acronym, dfn { text-decoration:none; }

/*	Typographie et hiérarchisation | Configuration */
sup, .footnote-ref {
font-size:calc(var(--font-size)*.5);
line-height:calc(var(--baseline)*0);
}

sub {}

code, pre {
font-family:'Menlo', monospace;
font-size:calc(var(--font-size)*.85);
font-variant-ligatures:none;
font-variant-numeric:slashed-zero; /* Il est important de distinguer le chiffre 0 de la lettre O. */
white-space:pre-line;
opacity:.6;
}

hr {
margin:1rem 0 1rem;
width:100%;
border-top:1px solid;
border-bottom:none;
}

.all-caps { text-transform:uppercase; }
.sm-caps {
/*font-variant:small-caps;*/
/*	Évaluation */
font-synthesis-small-caps:auto;
font-feature-settings:'kern' 1,'smcp' 1;
}

.nobr { white-space:nowrap; }



/*	Les tableaux (à traiter…) | Configuration */



/*	Les figures : illustrations, photographies, etc. | Configuration */
figure {
margin:calc(var(--baseline)*1.5) 0;
padding:0;
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1.1);
text-align:left;
font-weight:300;
}
figure.media-first { margin:0 0 calc(var(--baseline)*1.5) 0; }

img.size580 {
width:100%;
border-bottom:1px solid #000;
}

figcaption {
margin:calc(var(--baseline)*.45) 0 0 calc(var(--baseline)*1.5);
font-weight:300;
}



/*	----------------------------------------------------------------------------------- */
/*	Justification et division | Configuration */
.post-excerpt p, .post-content p, .bigfoot-footnote p {
text-align:justify;
text-justify:distribute; /*inter-character;*/
word-spacing:normal;
white-space:normal;
word-break:normal;
-webkit-hyphens:auto;
-webkit-hyphenate-limit-before:3;
-webkit-hyphenate-limit-after:4;
-webkit-hyphenate-limit-lines:2;
-ms-hyphens:auto;
hyphens:auto;
/*	Évaluation | Pour l’impression également ! */
hyphenate-limit-chars:7 3 4;
hyphenate-limit-lines:2;
hyphenate-limit-zone:8%;
hanging-punctuation:allow-end;
hyphenate-limit-last:always;
}



/*	----------------------------------------------------------------------------------- */
/*	Main | Configuration */
#main {
font-size:calc(var(--font-size)*.95);
line-height:calc(var(--baseline)*1.5);
}

.post-content {
margin-top:calc(var(--baseline)*1.5); /* Prendre de la distance avec ce qui précède… */
padding-bottom:calc(var(--baseline)*1.5);
}

.post { padding:calc(var(--baseline)*1.5) 0 0; }
.simple, .short { padding:0; }

.post-excerpt p {
margin:0 0 calc(var(--baseline)*1.5);
font-weight:500;
}

/* #other-criteria {
padding-bottom:calc(var(--baseline)*.75);
border-bottom:1px solid;
} */

/* #more-arch {
padding-bottom:calc(var(--baseline)*1.5);
border-bottom:1px solid;
} */

.post-content p {
margin:0;
padding:0;
}
.post-content p + p,
.post-content ul + p,
.post-content ol + p,
.post-content figure + p {
text-indent:calc(var(--baseline)*1.5);
}

/*	Lire la suite… */
p.ellipsis { font-weight:300; text-align:end; }
p.post-read-it {
padding:calc(var(--baseline)*.75) 0;
text-align:end;
}

/*	Nommer l’auteur au début et en fin de chapitre (billet) */
.post-content p.auteur {
text-align:left;
margin:calc(var(--baseline)*1.5) 0 0 0;
padding:0 0 0 calc(var(--baseline)*1.5);
line-height:calc(var(--baseline)*1.1); /* Interlignage propre à la classe « fonction ». */
text-indent:0;
}
.fonction {
display:block;
margin-top:5px;
font-size:calc(var(--font-size)*.8);
}

/*	Données biographiques et bibliographiques [Catégorie|Catalogue]
	Vérifier la pertinence de cet ajout d’information ! */
ul.arch-list.arch-sub-cat-list li {
font-family:'Noto Serif Display';
font-weight:500;
font-size:calc(var(--font-size)*1.1);
line-height:calc(var(--baseline)*1.35);
}

.ref-bio, .ref-biblio {
display:block;
margin:calc(var(--baseline)*.125) 0 calc(var(--baseline)*.255);
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1.1);
font-family:'Noto Serif';
font-weight:300;
}

/*	Les mots-clés — toujours — en fin de chapitre (billet) */
ul.post-tags-list {
margin:1rem 0 0;
padding:1rem 0 0;
border-top:1px solid;
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1.1);
}
.post-tags-list li {
margin:0;
padding:0;
display:inline;
white-space:nowrap;
}
.post-tags-list li:first-child::before { content:'Mots-clés\00A0: '; font-weight:500; }
.post-tags-list li::after { content:', '; }
.post-tags-list li:last-child::after { content:'.'; }



/*	Bigfoot, les notes de bas de page
	----------------------------------------------------------------------------------- */
/*	Dans le texte */
.footnotes ol {
margin:0;
padding:0;
}
.footnotes ol::before {
content:'Notes de bas de page';
font-weight:500;
}

.footnotes li:first-child { margin-top:.25rem; }

.footnotes li {
margin:0 0 .5rem 1.65rem;
padding:0 0 0 .5rem;
list-style-position:outside;
}
.footnotes li, .footnotes li p {
margin-bottom:calc(var(--baseline)*.15); /* Évaluation */
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1);
text-indent:0;
}
/*	Lorsque la note inclut des références en liste. */
.footnotes p + ol { margin:0; }
.footnotes p + ol li { margin:.15rem 0 0 .6rem; }

/*	Lorsque la note inclut une N.D.E. */
.ft-nde { display:block !important; margin-top:calc(var(--baseline)*.5) !important; }



/*	Les signes typographiques
	----------------------------------------------------------------------------------- */
/*	Un couillard en guise d’astérisme pour marquer les changements de chapitre ! */
/* <hr class="asterism"> */
.post-content hr.asterism {
margin:calc(var(--baseline)*3) 0 calc(var(--baseline)*1.5);
display:block;
clear:both;
border:0;
text-align:center;
}
.post-content hr.asterism::after {
content:'\2042';
font-size:calc(var(--font-size)*1.3);
font-weight:300; color:#000;
}



/*	Les pages de titre
	----------------------------------------------------------------------------------- */
	h3.pt-titre, h4.pt-auteur { padding:0; font-family:'Noto Serif Display', 'Georgia', serif; text-align:center; }
	h3.pt-titre {
	margin-top:calc(var(--font-size)*1.5);
	font-weight:500;
	font-size:calc(var(--font-size)*2.35);
	line-height:calc(var(--baseline)*2.75);
	}
	h4.pt-auteur {
	margin-bottom:calc(var(--font-size)*1.5);
	font-weight:400;
	font-size:calc(var(--font-size)*1.5);
	line-height:calc(var(--baseline)*2);
	}

	p.page-titre-top, p.page-titre-bottom {
	font-family:'Noto Serif', 'Georgia', serif;
	font-weight:300;
	font-size:calc(var(--font-size)*.9);
	line-height:calc(var(--baseline)*1.3);
	text-align:center;
	-webkit-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	}
	.post-content p.page-titre-top::before, .post-content p.page-titre-bottom::before { content:none; }
	.post-content p.page-titre-top { border-top:1px solid; padding-top:calc(var(--baseline)*1.5); }
	.post-content p.page-titre-bottom { padding-bottom:calc(var(--baseline)*1.5); }

	.pt-coll, .pt-cat,
	.pt-edition, .pt-editeur, .pt-version, .pt-source { display:block; text-align:center; }
	.pt-source { margin-top:calc(var(--font-size)*3); }
	.pt-coll, .pt-cat, .pt-editeur, .pt-version {
	font-synthesis-small-caps:auto;
	font-feature-settings:'kern' 1,'smcp' 1;
	}

/*	La marque d’imprimeur ou marque typographique */
	img.pt-mark-typo {
	display:block;
	margin:calc(var(--font-size)*3) auto calc(var(--font-size)*.9);
	max-width:12%;
	height:auto;
	opacity:.5;
	}



/* Attention à ne pas supprimer l’accolade ! */
}