@charset "UTF-8";

/*	Se faire tout petit !
	-----------------------------------------------------------------------------------
	Supplément à la feuille de style du thème Pierrot pendu
	Version 2023-10-0.6 [active] : 2023-10-26
	Basé sur le jeu de templates « dotty »
	Auteur : L’atelier de Virginia Pearl par Alex Gulphe
	2023. Licence CC BY-NC-SA 4.0

	Pour les écrans d’une largeur inférieure à 696px.
	Pour les smartphones, le mode paysage est à privilégier !
	----------------------------------------------------------------------------------- */

@media only screen and (max-width:695px) {

	/*	Spécifications de base et mise en boîte | Configuration */
	#page {
	border-top:none !important;
	border-bottom:none !important;
	}

	#menu-simple, .header, #wrapper, #gotop, #footer {
	padding:0 1rem !important;
	}

/*	Prelude et Menu simple | Configuration */
	#menu-simple { position:relative !important; }

	#supranav {
	padding:0 !important;
	border-bottom:none !important;
	}
	#supranav li {
	margin:0 !important;
	padding:.3rem 0 !important;
	display:list-item !important;
	border-right:none !important;
	border-bottom:1px dotted !important;
	font-size:calc(var(--font-size)*.95) !important;
	}
	#supranav li a {
	margin:0 !important;
	padding:0 0 .3rem 0 !important;
	}
	#supranav li:hover { background:#F1F1F1 !important; }
	#supranav li.active { background:none !important; }
	#supranav li.active a { background:none !important; }

	#supranav li.li1.li-first a { margin-left:.75rem !important; }
	/* Spécifique au label « À propos… » :
	centre visuellement le texte suivi de « … », une coquetterie typographique ! */

/*	Pour les liens de navigation internes
	en tenant compte du décalage du « Menu simple » | Configuration */
	a.refID { scroll-margin-top:calc(var(--baseline)*.15) !important; }

/*	Un monde en liste | Ici, pas de coquetterie ! */
	.post-content .keywords { margin-right:0 !important; }

/*	Ne plus compter les paragraphes | Configuration */
	.post-content p::before { display:none !important; }

/*	Lire la suite… */
	.post-content p.ellipsis { font-weight:300; text-align:end !important; }
	.post-content p.post-read-it { text-align:end !important; }

/*	Les mots-clés : permettre les retours à la ligne */
	.post-tags-list li { white-space:normal !important; }

/*	Les champs des formulaires | Configuration */
	input[type="text"], input[type="email"], input[type="url"],
	textarea {
	margin-left:0 !important;
	width:93.5% !important;
	}

	p.form-help,
	.remember,
	p.buttons,
	#search.widget form,
	#accessconfig.widget { padding-left:0 !important; }

/*	Le formulaire « ContactMe » */
	form#comment-form.contactme fieldset p { padding-left:0 !important; }

/*	Pour les pages de titre */
/*	La marque d’imprimeur ou marque typographique */
	img.pt-mark-typo { max-width:20% !important; }

/*	Attention à ne pas supprimer l’accolade ! */
}



/*	Jeter un sort à la justification « au pavé » !
	-----------------------------------------------------------------------------------
	Pour les écrans d’une largeur inférieure à 381px.
	Afin d’éviter les lézardes !
	----------------------------------------------------------------------------------- */

	@media only screen and (max-width:380px) {

/*	Justification et division | Configuration */
	.post-excerpt p, .post-content p, .bigfoot-footnote p, blockquote, /* plugin */ p.contactme, body.dc-contactme .content-inner p { text-align:left !important; }

/*	Attention à ne pas supprimer l’accolade ! */
}



/*	Se faire plus petit encore !
	-----------------------------------------------------------------------------------
	Pour les écrans d’une largeur inférieure à 340px.
	Pour s’adapter aux matériels lilliputiens, le menu disparaît !
	----------------------------------------------------------------------------------- */

/*	@media only screen and (max-width:341px) {

/*	Menu simple | Configuration */
/*	#supranav { display:none !important; }

/*	Attention à ne pas supprimer l’accolade !
} */