@charset "UTF-8";

/*	Pour une lecture idéale !
	-----------------------------------------------------------------------------------
	Feuille de style du thème Pierrot pendu
	Version 2023-10-0.6 [active] : 2023-10-26
	Basé sur le jeu de templates « dotty »
	Auteur : L’atelier de Virginia Pearl par Alex Gulphe
	2023. Licence CC BY-NC-SA 4.0
	----------------------------------------------------------------------------------- */

/*	Documents associés
	-----------------------------------------------------------------------------------
	Données de description du thème :
		themes/pierrot-pendu/_define.php
		themes/pierrot-pendu/screenshot.jpg
	Éléments du modèle « Dotty » modifiés :
		themes/pierrot-pendu/tpl/__layout.html
		themes/pierrot-pendu/tpl/_entry-content.html
		themes/pierrot-pendu/tpl/_entry-feedback.html
	[?]	themes/pierrot-pendu/tpl/_entry-full.html
		themes/pierrot-pendu/tpl/_entry-short.html
	[?]	themes/pierrot-pendu/tpl/_entry-title.html
		themes/pierrot-pendu/tpl/_footer.html
		themes/pierrot-pendu/tpl/_head.html
		themes/pierrot-pendu/tpl/_pagination.html
		themes/pierrot-pendu/tpl/_sidebar.html
		themes/pierrot-pendu/tpl/_simple-entry.html
		themes/pierrot-pendu/tpl/_top.html
		themes/pierrot-pendu/tpl/404.html
	[?]	themes/pierrot-pendu/tpl/archive_month.html
		themes/pierrot-pendu/tpl/archive.html
	[!]	themes/pierrot-pendu/tpl/atom-comments.xml
	[!]	themes/pierrot-pendu/tpl/atom.xml
		themes/pierrot-pendu/tpl/category.html
		themes/pierrot-pendu/tpl/home.html
	[?]	themes/pierrot-pendu/tpl/password-form.html
		themes/pierrot-pendu/tpl/post.html
	[!]	themes/pierrot-pendu/tpl/rss2-comments.xml
	[!]	themes/pierrot-pendu/tpl/rss2.xml
		themes/pierrot-pendu/tpl/search.html
		themes/pierrot-pendu/tpl/static.html
		themes/pierrot-pendu/tpl/user_head.html
	Templates adaptés du thème « Ductile » :
		themes/pierrot-pendu/tpl/tag.html
		themes/pierrot-pendu/tpl/tags.html
	Données stylistiques : /// à minifier ? ///
		themes/pierrot-pendu/print.css
		themes/pierrot-pendu/style-singulier.css
		themes/pierrot-pendu/style-tout-petit.css
		themes/pierrot-pendu/style.css
	Scripts :
		themes/pierrot-pendu/js/num-paragraphes.js
	Déclaration pour l’adaptation linguistique de l’interface :
		themes/pierrot-pendu/_public.php
	Adaptation linguistique de l’interface publique :
		themes/pierrot-pendu/locales/fr/public.lang.php
		themes/pierrot-pendu/locales/fr/public.po

	[?]	Ressources non utilisées par le thème !
	[!]	Ressources fonctionnelles mais susceptibles d’afficher des erreurs !
	----------------------------------------------------------------------------------- */

/*	Concernant les unités de mesure :
	See https://medium.com/codeshake/unités-de-mesures-em-vs-rem-eac03dbcb9c7
	----------------------------------------------------------------------------------- */



/*	----------------------------------------------------------------------------------- */
/*	Se faire tout petit ! | Configuration importée */
@import url('style-tout-petit.css');
/*	Singularités éditoriales :
	styliser avec discernement | Configuration importée */
@import url('style-singulier.css');
/*	Pour lire à tête reposée :
	As a book! | Configuration importée */
@import url('print.css');



/*	----------------------------------------------------------------------------------- */
/*	Polices de caractères | Configuration */
/*	Noto Serif Display */
@font-face {
	font-family:'Noto Serif Display';
	src:
		local('Noto Serif Display'),
		url('fontes/Noto/Display/NotoSerifDisplay-Regular.woff2') format('woff2');
	font-weight:400;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif Display';
	src:
		local('Noto Serif Display'),
		url('fontes/Noto/Display/NotoSerifDisplay-Medium.woff2') format('woff2');
	font-weight:500;
	font-style:normal;
	font-display:swap;
}
/*	Noto Serif */
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-Light.woff2') format('woff2');
	font-weight:300;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-LightItalic.woff2') format('woff2');
	font-weight:300;
	font-style:italic;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-Regular.woff2') format('woff2');
	font-weight:400;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-Italic.woff2') format('woff2');
	font-weight:400;
	font-style:italic;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-Medium.woff2') format('woff2');
	font-weight:500;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-MediumItalic.woff2') format('woff2');
	font-weight:500;
	font-style:italic;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif S'),
		url('fontes/Noto/Serif/NotoSerif-SemiBold.woff2') format('woff2');
	font-weight:600;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family:'Noto Serif';
	src:
		local('Noto Serif'),
		url('fontes/Noto/Serif/NotoSerif-SemiBoldItalic.woff2') format('woff2');
	font-weight:600;
	font-style:italic;
	font-display:swap;
}



/*	----------------------------------------------------------------------------------- */
/*	Spécifications de base et mise en boîte | Configuration */
html, body, #page {
width:100%;
margin:0;
padding:0;
}

html, body {
/*margin:0;*/
background-color:#FFF;
font-family:'Noto Serif', 'Georgia', serif;
--font-size:18px;
--baseline:18px;
/*	See https://developer.mozilla.org/fr/docs/Web/CSS/Using_CSS_custom_properties
	https://blogs.infinitesquare.com/posts/web/css-vars-le-guide-complet */
/* font-variant-ligatures:common-ligatures; */ /* normal | common-ligatures | discretionary-ligatures */
font-feature-settings:'kern' 1,'dlig','liga','calt'; /* 'calt' pour Contextual alternates */
color:#000;
font-variant-numeric:oldstyle-nums;
/*	See https://developer.mozilla.org/fr/docs/Web/CSS/font-variant-numeric */
/*	Évaluation */
font-optical-sizing:auto;
/*	See http://stylescss.free.fr/v2-properties/font-optical-sizing.php */
font-smooth:subpixel-antialiased;
/*-moz-osx-font-smoothing:grayscale;*/
/*	See https://developer.mozilla.org/fr/docs/Web/CSS/font-smooth */
text-rendering:optimizeLegibility;
/*	Options : auto | optimizeSpeed | optimizeLegibility | geometricPrecision
/*	See https://developer.mozilla.org/fr/docs/Web/CSS/text-rendering */
}

#page {
border-top:3px solid #B30000;
border-bottom:9px solid #000;
}

#prelude, #menu-simple, .header, #wrapper, #gotop, #footer {
position:relative;
margin:0 auto;
padding:0 4rem;
min-width:280px;
max-width:580px;
}



/*	----------------------------------------------------------------------------------- */
/*	Les titres | Configuration */
h1, h2, h3, h4, h5, h6 { font-family:'Noto Serif Display', 'Georgia', serif; }
h1 {
margin:0;
padding:0;
font-weight:400;
font-size:calc(var(--font-size)*2.35);
line-height:calc(var(--baseline)*2.5);
}

h2, h3, h4, h5, h6 { font-weight:500; }
h3, h4, h5, h6 {
margin:calc(var(--baseline)*1.5) 0 calc(var(--baseline)*0.5) 0;
padding-left:calc(var(--baseline)*1.5);
}
h2 {
margin:0;
padding:0;
font-size:calc(var(--font-size)*1.8);
line-height:calc(var(--baseline)*2.05);
}
h3 {
font-size:calc(var(--font-size)*1.3);
line-height:calc(var(--baseline)*1.55);
}
h4 {
font-size:calc(var(--font-size)*1.2);
line-height:calc(var(--baseline)*1.45);
}
h5 {
font-size:calc(var(--font-size)*1.1);
line-height:calc(var(--baseline)*1.35);
}
h6 {
font-size:calc(var(--font-size)*1);
line-height:calc(var(--baseline)*1.25);
}
h3 + h4, h4 + h5, h5 + h6 { margin-top:0; }
/*	See CSS complexes et combinateurs
	https://www.pierre-giraud.com/html-css-apprendre-coder-cours/selecteur-simple-combinateur/ */

/*	Les titres, encore et toujours ! */
.dc-archive #content-info h2 {
font-size:calc(var(--font-size)*1.8);
line-height:calc(var(--baseline)*2.05);
}

#content-info h2, h2.blognav__title {
font-size:calc(var(--font-size)*1.1);
line-height:calc(var(--baseline)*1.5);
}

h2.category-enfant { margin-bottom:calc(var(--font-size)*.25); }

.content-info__sub-cat h3 {
margin:calc(var(--baseline)*.25) 0 0;
font-family:'Noto Serif', 'Georgia', serif;
font-weight:300;
font-size:calc(var(--font-size)*.9);
line-height:calc(var(--baseline)*1.4);
}

.content-inner h2 { margin-top:calc(var(--baseline)*1.5); }

.feedback__comments h3::first-letter { text-transform:uppercase; }

/*	Les titres des widgets */
.widget h3 { margin-bottom:calc(var(--baseline)*.3); }

.widget h4 {
font-size:calc(var(--font-size)*1.1);
line-height:calc(var(--baseline)*1.35);
margin:calc(var(--baseline)*.45) 0 calc(var(--baseline)*.25);
}



/*	----------------------------------------------------------------------------------- */
/*	Traité de style général | Configuration */
/*	Les liens | Configuration */
/*	Voir à ajouter un signe de reconnaissance pour l’achromatopsie, la deutéranopie et la protanopie.
	See http://stylescss.free.fr/v2-properties/text-underline-offset.php
	Pour exemple :
	{
	text-underline-position:underline;
	text-decoration-thickness:1px;
	text-decoration-style:dotted;
	text-decoration-color:#000;
	text-underline-offset:.3rem;
	}
	*/
a:link {
text-decoration:none;
color:#B30000;
}
a:visited {
text-decoration:none;
color:#B30000;
}
a:hover, a:focus {
text-decoration:none;
color:#C1C1C1;
	text-decoration-line:underline;
	text-decoration-thickness:1px;
	text-decoration-style:dotted;
	text-decoration-color:#000;
	text-underline-offset:.3rem;
}
a:active {
text-decoration:none;
color:#B30000;
}

/*	Pour les liens (ancres) de navigation internes
	en tenant compte de la fixité du « Menu simple » | Configuration */
/*	See « Ancres et header fixe » :
	https://www.codeur.com/tuto/html/ancre-lien-header-fixe/
	https://openclassrooms.com/forum/sujet/ancre-et-header-fixe-1
	https://developer.mozilla.org/fr/docs/Web/CSS/scroll-margin-top
	Note : la méthode « height + margin-top »,
	— fonctionnelle pour le texte courant —,
	génère un décalage dans les pop-up des footnotes ! */
a.refID { scroll-margin-top:calc(var(--baseline)*2.5); }

/*	Les liens appliqués aux titres | Configuration */
h2 a:hover, h2 a:focus {
	/*text-decoration-line:none;*/
	text-decoration-skip-ink:auto;
	text-underline-offset:.25rem;
}

.dc-category #content-info h2 a:hover,
.dc-category #content-info h2 a:focus {
	text-decoration-skip-ink:auto;
	text-underline-offset:.35rem;
}

/*	Navigation et indicateurs : mise en couleur | Configuration */
.indic { opacity:.45; }

/*	Un monde en liste | Configuration */
ol, ul {
margin:0 0 calc(var(--baseline)*.75) 0;
padding:0;
list-style-position:outside;
}
ul { list-style-type: "–"; }
ul li {
margin:0 0 0 calc(var(--baseline)*1.05);
padding:0 0 0 calc(var(--baseline)*.45);
}
ol li {
margin:0 0 0 calc(var(--baseline)*1.3);
padding:0 0 0 calc(var(--baseline)*.2);
}
ol li::marker { font-variant-numeric:oldstyle-nums !important; }
li > ul { margin-bottom:0; }
li > ul li { margin-left:calc(var(--baseline)*.45); }
li > ol { margin-bottom:0; }
li > ol li { margin-left:calc(var(--baseline)*.9); }

/*	Un monde en liste | Les catégories et sous-catégories */
.dc-category ul li.post-cat {
margin-left:calc(var(--baseline)*1.5);
padding:0;
list-style-type:none;
}
li.post-cat::before { content:'\22B3\0020'; opacity:.45; }

/*	Un monde en liste | L’index général des mots-clés */
.post-content .keywords {
margin-right:calc(var(--baseline)*.28); /* Coquetterie : la colombelle (column-rule) centrée sur le menu ! */
columns:auto 230px;
column-gap:36px;
column-rule:1px dotted;
}
ul.tags {
list-style-type:none;
margin:0;
padding:0;
font-size:calc(var(--font-size)*.75);
line-height:calc(var(--baseline)*1.1);
}
ul.tags li {
margin:0 0 calc(var(--baseline)*.2) 1rem;
padding:0;
text-indent:-1rem;
}
/*ul.tags li a { white-space:nowrap; }*/

/*	Compter les mots-clés */ /* Est-ce bien utile ? */
/*ul.tags li { counter-reset:ul; }*/
/*ul.tags li { counter-increment:keyword; }*/
/*ul.tags li::before {
content:counter(keyword);
position:absolute;
margin-left:-7rem;
width:6.255rem;
font-family:'Menlo', monospace;
font-size:calc(var(--font-size)*.65);
line-height:calc(var(--baseline)*1.8);
text-align:right;
opacity:.3;
}*/

/*	Les citations | Configuration */
blockquote, cite, q { font-weight:300; }

blockquote:hover, cite:hover, q:hover {
color:#C1C1C1;
cursor:help;
	text-decoration-line:underline;
	text-decoration-thickness:1px;
	text-decoration-style:dotted;
	text-decoration-color:#000;
	text-underline-offset:.3rem;
}
blockquote::before, blockquote::after,
cite::before, cite::after,
q::before, q::after {
content:none;
}
blockquote {
margin:calc(var(--baseline)*.75) 0 calc(var(--baseline)*.75) calc(var(--baseline)*1.5);
padding:0;
}
.post-content blockquote p {
padding-bottom:calc(var(--baseline)*.75);
/* font-size:calc(var(--font-size)*.9); */
text-indent:0;
font-weight:300;
}
.post-content blockquote p + p {
padding-bottom:calc(var(--baseline)*.75);
text-indent:0; }
.post-content blockquote p:last-child { padding-bottom:0; }

/*	Ajout d’un signal de reconnaissance pour l’achromatopsie, la deutéranopie et la protanopie */
abbr, acronym, dfn { text-decoration:none; }
abbr:hover, acronym:hover, dfn:hover {
color:#C1C1C1;
cursor:help;
	text-decoration-line:underline;
	text-decoration-thickness:1px;
	text-decoration-style:dotted;
	text-decoration-color:#000;
	text-underline-offset:.3rem;
}

/*	Les informations contextuelles | Configuration */
.defs {
cursor:help;
text-decoration-line:underline;
text-decoration-thickness:1px;
text-decoration-style:dotted;
text-decoration-color:#000;
text-underline-offset:.4rem;
}
.defs:hover { color:#C1C1C1; }

/*	Les modèles et éléments typographiques courants | Configuration */
b, strong { font-weight:600; }

sup, .footnote-ref {
font-size:calc(var(--font-size)*.5);
line-height:calc(var(--baseline)*0);
}
h2 sup { font-size:calc(var(--font-size)*.85); }

/*	sub {} */

code, pre {
font-family:'Menlo', monospace;
font-size:calc(var(--font-size)*.85);
font-variant-ligatures:none;
font-variant-numeric:slashed-zero; /* Il est important de distinguer le chiffre 0 de la lettre O. */
white-space:pre-line;
opacity:.6;
}

hr {
margin:1rem 0 1rem;
width:100%;
border-top:1px dotted;
border-bottom:none;
}

.all-caps { text-transform:uppercase; }
.sm-caps {
/*font-variant:small-caps;*/
/*	Évaluation */
font-synthesis-small-caps:auto;
/*	See https://developer.mozilla.org/en-US/docs/Web/CSS/font-synthesis-small-caps
	http://stylescss.free.fr/v2-properties/font-synthesis-small-caps.php
	https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_fonts/OpenType_fonts_guide */
font-feature-settings:'kern' 1,'smcp' 1;
}

.nobr { white-space:nowrap; }



/*	Les tableaux (à traiter…) | Configuration */



/*	Les figures : illustrations, photographies, etc. | Configuration */
figure {
margin:calc(var(--baseline)*1.5) 0;
padding:0;
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1.1);
text-align:left;
font-weight:300;
}
figure.media-first { margin:0 0 calc(var(--baseline)*1.5) 0; } /* La publication débute avec une image */

img.size100 {
width:100%;
height:auto;
border-bottom:1px solid #000;
}
img.size100:hover { opacity:.5; border-bottom:1px solid #B30000; }

figcaption { margin:calc(var(--baseline)*.45) 0 0 calc(var(--baseline)*1.5); }
.post-content figcaption p { text-align:left; }



/*	----------------------------------------------------------------------------------- */
/*	Justification et division | Configuration */
.post-excerpt p, .post-content p, .bigfoot-footnote p, blockquote, /* plugin */ p.contactme, body.dc-contactme .content-inner p {
text-align:justify;
text-justify:inter-character; /*distribute;*/
word-spacing:normal;
white-space:normal;
word-break:normal; /* normal | break-all | keep-all | break-word */
-webkit-hyphens:auto;
-webkit-hyphenate-limit-before:3;
-webkit-hyphenate-limit-after:4;
-webkit-hyphenate-limit-lines:2;
-ms-hyphens:auto;
hyphens:auto;
/*	Évaluation */
hyphenate-limit-chars:7 3 4;
/*	See https://developer.mozilla.org/en-US/docs/Web/CSS/hyphenate-limit-chars
	http://stylescss.free.fr/v2-properties/hyphenate-limit-chars.php */
hyphenate-limit-lines:2;
/*	See http://stylescss.free.fr/v2-properties/hyphenate-limit-lines.php */
hyphenate-limit-zone:8%;
/*	Cette propriété n’est prise en charge par aucun navigateur (2023-10-15).
	See http://stylescss.free.fr/v2-properties/hyphenate-limit-zone.php */
hanging-punctuation:allow-end; /* allow-end | force-end */
/*	See http://stylescss.free.fr/v2-properties/hanging-punctuation.php
	https://developer.mozilla.org/fr/docs/Web/CSS/hanging-punctuation
	2023-10-15 : une très subtile animation observée sous Safari 16.6.1. */
hyphenate-limit-last:always;
}

/*	Autres propriétés à surveiller :
/*	See https://www.w3.org/TR/css-text-4/
	Hyphenate-limit-last | line-padding | tab-size
	wrap-after | wrap-before | wrap-inside */



/*	----------------------------------------------------------------------------------- */
/*	Services périphériques au contenu | Configuration */
/*	Wrapper */
.navlinks, .pagination, #content-info, .post-info, .post-info-co, .post-day-date, .post-read-it, .post-attachments, .post-feedback, .relatedEntries, #time-criteria, #other-criteria, #more-arch, .tags,
/*	Sidebar */
#sidebar,
/*	Page 404 */
.dc-404 ul {
font-weight:300;
font-size:calc(var(--font-size)*.9);
line-height:calc(var(--baseline)*1.4);
}



/*	----------------------------------------------------------------------------------- */
/*	Prelude et Menu simple | Configuration */
#menu-simple {
z-index:666; /* Ici, il faut faire attention au pop-up de consentement des cookies ! */
position:sticky;
top:0;
background-color:#FFF;
}

#supranav {
margin:0;
padding:.65rem 0;
border-bottom:1px solid;
text-align:center;
}

#supranav li {
display:inline;
list-style-type:none;
margin:0;
padding:.65rem;
border-right:1px dotted;
font-size:calc(var(--font-size)*.8);
/*line-height:calc(var(--baseline)*1.1);*/
font-weight:500;
font-variant-caps:all-small-caps;
letter-spacing:.02rem;
text-align:center;
white-space:nowrap;
}
#supranav li:last-child { border-right:none; }

#supranav li a:link {
margin:-.65rem;
padding:.65rem;
}
#supranav li a:hover, #supranav li a:focus {
margin:-.65rem;
padding:.65rem;
color:#000;
background:#F1F1F1;
border-bottom:3px solid #000;
	text-decoration-line:none;
}
#supranav li.active a {
background:#F1F1F1;
font-weight:500;
color:#000;
}



/*	----------------------------------------------------------------------------------- */
/*	Header | Configuration */
.banner { padding:4rem 0 6rem 0; }
.banner a:link, .banner a:visited { color:#000; }
.banner a:hover, .banner a:focus {
color:#C1C1C1;
	text-decoration-line:none;
}
.site-baseline .cit-pierrot-pendu {
display:block;
margin:0;
padding:calc(var(--baseline)*.5) 0 0 calc(var(--baseline)*1.5);
font-weight:300;
font-size:calc(var(--font-size)*1);
line-height:calc(var(--baseline)*1.5);
text-indent:calc(var(--baseline)*1.5);
cursor:help;
}
.cit-pierrot-pendu:hover {
color:#C1C1C1;
cursor:help;
	text-decoration-line:underline;
	text-decoration-thickness:1px;
	text-decoration-style:dotted;
	text-decoration-color:#000;
	text-underline-offset:.3rem;
}



/*	----------------------------------------------------------------------------------- */
/*	Main | Configuration */
#main {
font-size:calc(var(--font-size)*.95);
line-height:calc(var(--baseline)*1.5);
/*background:#F0F0F4;*/ /* Développement : visualiser la zone */
}

.post-content {
padding-bottom:calc(var(--baseline)*1.5);
border-bottom:1px solid;
}

.post { padding:calc(var(--baseline)*1.5) 0 0; }
.simple, .short { padding:0; }

.post-excerpt p {
margin:0 0 calc(var(--baseline)*1.5);
font-weight:500;
}
/*	Pour voir, une lettrine : seul Firefox semble capable d’interpréter la méthode. */
/*.post-excerpt p::first-letter {
font-size:calc(var(--font-size)*3.7);
margin-right:.1rem;
float:left;
font-weight:400;
}*/

#other-criteria {
padding-bottom:calc(var(--baseline)*.75);
border-bottom:1px dotted;
}
/*	Régler l’affichage des listes « Auteur·e·s/Ouvrages» du catalogue. */
#other-criteria ul.arch-list.arch-cat-list li {
margin-top:calc(var(--baseline)*.75);
padding-top:calc(var(--baseline)*.75);
border-top:1px dotted;
list-style-type:none;
}
#other-criteria ul.arch-list.arch-sub-cat-list li {
padding-top:calc(var(--baseline)*.25);
border-top:none;
}

#more-arch {
padding-bottom:calc(var(--baseline)*1.5);
border-bottom:1px solid;
}

.post-content p {
margin:0;
padding:0;
}
.post-content p + p,
.post-content ul + p,
.post-content ol + p,
.post-content figure + p {
text-indent:calc(var(--baseline)*1.5);
}

/*	Lire la suite… */
p.ellipsis { font-weight:300; text-align:end; }
p.post-read-it {
padding:calc(var(--baseline)*.75) 0;
text-align:end;
}

/*	Nommer l’auteur au début et en fin de chapitre (billet) */
.post-content p.auteur {
text-align:left;
margin:calc(var(--baseline)*1.5) 0 0 0;
padding:0 0 0 calc(var(--baseline)*1.5);
line-height:calc(var(--baseline)*1.1); /* Interlignage propre aux classes « fonction-auteur » et « date-article ». */
text-indent:0;
}
.fonction-auteur, .date-article {
display:block;
margin-top:5px;
font-size:calc(var(--font-size)*.85);
}

/*	Indication de position dans la hiérarchie [Catégorie|Catalogue]
	Vérifier la pertinence de cette zone
	— hormis les liens d’abonnement aux flux —
	et de son importance visuelle ! */
.dc-category header#content-info {
padding-bottom:calc(var(--baseline)*.75);
border-bottom:1px dotted;
}

/*	Données biographiques et bibliographiques [Catégorie|Catalogue]
	Vérifier la pertinence de cet ajout d’information ! */
ul.arch-list.arch-sub-cat-list li {
font-family:'Noto Serif Display';
font-weight:500;
font-size:calc(var(--font-size)*1.1);
line-height:calc(var(--baseline)*1.35);
}

.ref-bio, .ref-biblio {
display:block;
margin:calc(var(--baseline)*.125) 0 calc(var(--baseline)*.255);
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1.1);
font-family:'Noto Serif';
font-weight:300;
}
/*.ref-biblio::before { content:'Transcription numérique d’après '; }*/
/*	Important :
	cet ajout automatisé sera à reconsidérer si des catégories nouvelles sont envisagées !
	C’est le cas d’articles propres à l’information autour des activités de Pierrot pendu… */

/*	Compter les paragraphes */
.post-content { counter-reset:paragraph; }
.post-content p::before {
content:counter(paragraph);
counter-increment:paragraph;
position:absolute;
margin-left:-9rem;
width:7rem;
font-family:'Menlo', monospace;
font-size:calc(var(--font-size)*.65);
line-height:calc(var(--baseline)*1.75);
text-align:right;
opacity:.3;
}
.post-content p + p::before,
.post-content ul + p::before,
.post-content ol + p::before,
.post-content figure + p::before {
margin-left:-9rem;
width:5.25rem;
}

/*	Ce qui ne se compte pas */
.post-content blockquote p::before,
.post-content figcaption p::before,
.content-inner p::before,
.footnotes p::before,
.bigfoot-footnote p + ol p::before,
p.auteur::before,
p.nocount::before { content:none; }

/*	Informations et métadonnées | Configuration */
/*	Navigation : d’une publication à une autre */
.navlinks.topnl { margin:0 0 2rem; }
.navlinks, .pagination { margin:2rem 0 0; }
.navlinks.topnl, .navlinks, .pagination {
padding:.25rem 0 .3rem;
border-top:1px dotted;
border-bottom:1px dotted;
text-align:center;
}
/*a.prev::before { content:'\2190\00A0'; }*/
/*a.next::after { content:'\00A0\2192'; }*/

.post-info {
margin:.5rem 0 2rem 0;
padding:.25rem 0;
}
.post-author::before { content:'\A835\00A0'; opacity:.45; }
/*.post-author::before { content:'Auteur\00A0:'; }*/ /* En remplacement de {{tpl:lang By}} ? */
.post-permalink::before { content:'\22A3\00A0'; opacity:.45; }

/*a.prev,
a.next,
.post-author,
.post-cat,*/
.post-info a, .post-permalink { white-space:nowrap; }
.post-author a, .post-cat a { white-space:break-spaces; }

/*	Les mots-clés — toujours — en fin de chapitre (billet) */
ul.post-tags-list {
margin:1rem 0 0;
padding:1rem 0 0;
border-top:1px dotted;
font-size:calc(var(--font-size)*.75);
line-height:calc(var(--baseline)*1.1);
}
.post-tags-list li {
margin:0;
padding:0;
display:inline;
white-space:nowrap;
font-weight:300;
}
.post-tags-list li:first-child::before { content:'Mots-clés\00A0: '; }
.post-tags-list li::after { content:', '; }
.post-tags-list li:last-child::after { content:'.'; }

/*	Les pièces jointes (annexes) et les commentaires (réactions) */
.post-attachments {
padding-bottom:calc(var(--baseline)*1.5);
border-bottom:1px solid;
}
ul.post-attachments-list { margin:0; }

ul.post-info-co {
margin:1rem 0 0;
padding:1rem 0 0;
border-top:1px dotted;
}
.post-info-co li {
margin:0;
padding:0;
display:inline;
white-space:nowrap;
}
.post-info-co li::before { content:'\2237\00A0'; opacity:.45; }

/*	 Après le contenu du chapitre (billet) */
.post-feedback { margin:calc(var(--baseline)*1.5) 0; }



/*	----------------------------------------------------------------------------------- */
/*	Sidebar | Configuration */
/*	Faire disparaître tout ce qui n’a pas sa place dans Pierrot pendu. */
#blognav .simple-menu, #blognav .syndicate,
#blogextra .simple-menu, #blogextra .syndicate { display:none; }
/*	Dans l’éventualité d’un ajout des widgets « Menu simple » et « Liens de souscriptions » aux volets. */

/*	Un sidebar personnalisé pour la page [Archive|Catalogue] */
/*body.dc-archive .widget.links,*/
body.dc-archive .widget.mrvbToC { display:none; }



/*	----------------------------------------------------------------------------------- */
/*	Retour en haut de page (Prelude) | Configuration */
#gotop {
margin-top:3rem;
padding:0;
font-size:calc(var(--font-size)*.8);
font-variant-caps:all-small-caps;
letter-spacing:.02rem;
text-align:end;
white-space:nowrap;
font-weight:500;
}
#gotop a::after { content:'\00A0\2191'; }



/*	----------------------------------------------------------------------------------- */
/*	Footer | Configuration */
#footer { margin-top:3rem; }
#footer p {
margin:0;
padding:1rem 0;
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1.1);
text-align:center;
}
#footer p { border-top:1px solid; }



/*	----------------------------------------------------------------------------------- */
/*	Les formulaires et les commentaires | Configuration */
#comments, #comment-form h3 { margin-top:0; }

/*	Les formulaires */
#comment-form {
margin:0 0 calc(var(--baseline)*1.5);
padding:0 0 calc(var(--baseline)*1.5);
border-bottom:1px solid;
width:100%;
overflow:hidden;
}
#comment-form p { margin:calc(var(--baseline)*.75) 0 0 0; }

label {
display:block;
padding-bottom:calc(var(--baseline)*.25);
width:100%;
}

input[type="text"], input[type="email"], input[type="url"],
textarea {
margin-left:calc(var(--baseline)*1.5);
padding:calc(var(--baseline)*.1) calc(var(--baseline)*.5) calc(var(--baseline)*.25);
border:1px solid #C1C1C1;
border-radius:5px;
background:#F1F1F1;
font-family:'Noto Serif', 'Georgia', serif;
font-size:calc(var(--font-size)*.9);
line-height:calc(var(--baseline)*1.4);
font-weight:300;
}
input[type="text"], input[type="email"], input[type="url"] {
display:block;
width:60%;
}
textarea {
display:block;
width:91.5%;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="url"]:hover,
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus,
textarea:hover, textarea:focus {
margin-left:calc(var(--baseline)*1.5);
background:#FFF;
}

p.form-help {
padding-left:calc(var(--baseline)*1.5);
font-style:italic;
}
.remember, .buttons { padding-left:calc(var(--baseline)*1.5); }

input[type="checkbox"] {
margin:0;
width:1.5rem;
height:1.5rem;
}

button,
input[type="submit"] {
padding:calc(var(--baseline)*.2) calc(var(--baseline)*.75) calc(var(--baseline)*.25);
border:1px solid #B30000;
border-radius:5px;
background-color:#B30000;
font-family:'Noto Serif', 'Georgia', serif;
font-size:calc(var(--font-size)*.85);
line-height:calc(var(--baseline)*1.35);
font-weight:400;
color:#FFF;
}

button:hover, button:focus,
input[type="submit"]:hover, input[type="submit"]:focus {
border:1px solid #C1C1C1;
background-color:#F1F1F1;
color:#000;
}
button:active,
input[type="submit"]:active {
border:1px solid #B30000;
background-color:#D30000;
color:#FFF;
}

/*	Les commentaires */
#comments {
margin-bottom:calc(var(--baseline)*1.5);
/*padding-bottom:calc(var(--baseline)*1.5);*/
/*border-bottom:1px dotted;*/
}

#comments ul {
margin:0;
padding:0;
}
#comments li, .comment-preview {
margin:0;
padding-left:calc(var(--baseline)*1.5);
list-style:none;
}
li.comment {
padding-bottom:calc(var(--baseline)*1.5);
border-bottom:1px dotted;
}
li.comment:last-child { border-bottom:1px solid; }
li.comment + li.comment:last-child { border-bottom:1px solid; }

.comment-content p { margin:0; }
.comment-content hr {
width:10%;
border-top:1px solid #C1C1C1;
} /* Juste au besoin… histoire de hiérarchiser le propos ! */
.comment-number {
padding-right:calc(var(--baseline)*.5);
font-weight:500;
}

/*	La pré-visualisation et la validation des commentaires */
#pr {
margin:0 0 calc(var(--baseline)*1.5);
padding:0 0 calc(var(--baseline)*1.5);
border-bottom:1px dotted;
}
#pr .comment-preview p { margin-top:0; }
#pr .comment-preview ul { margin:calc(var(--baseline)*.75) 0; }

p#pr.message {
font-weight:400;
color:#B30000;
text-align:center;
border-bottom:1px solid #000;
}
p#pr.message::before { color:#000; opacity:.45; content:'\22D7\00A0'; }
p#pr.message::after { color:#000; opacity:.45; content:'\00A0\22D6'; }

/*	Les widgets */
.widgets.blognav__widgets { padding:calc(var(--baseline)*3) 0 0; }
#blognav .widget.relatedEntries { margin:0; } /* Le widget « Billets connexes » en tête de liste ! */
.widget.relatedEntries, .widget {
padding:0 0 calc(var(--baseline)*.75);
border-bottom:1px dotted;
}
.widget:last-child { border-bottom:none; }

/*	Le widget « Moteur de recherche » */
#search.widget form { padding-left:calc(var(--baseline)*1.5); }
input#q {
margin:0 0 calc(var(--baseline)*.6) 0;
width:96%;
}



/*	----------------------------------------------------------------------------------- */
/*	Plugins | Configuration */
/*	Accessibilité (a11yConfig)
	----------------------------------------------------------------------------------- */
#accessconfig.widget {
padding:calc(var(--baseline)*1.5) 0 calc(var(--baseline)*1.5) calc(var(--baseline)*1.5);
}

/*	Replace images by their alternatives
	Source : …/plugins/a11yConfig/lib/css/accessconfig.css */
.a42-ac-replace-img.a42-ac-replace-style {
display:block;
border:none;
padding:.75rem !important;
}

/*	Bigfoot, les notes de bas de page
	----------------------------------------------------------------------------------- */
/*	Dans le texte */
.footnote-ref {
margin-left:.15rem;
font-weight:600;
}
/* a.footnote-ref { scroll-margin-top:calc(var(--baseline)*2.5); } /* Le décalage afin de compenser le menu n’est pas pris en compte ! */

.bigfoot-footnote__wrapper { width:500px !important; }
/*	Il reste à vérifier cette largeur pour se faire tout petit ! */
.bigfoot-footnote__content {
padding:calc(var(--font-size)*1.5) calc(var(--font-size)*1.65) 0 !important;
margin-bottom:calc(var(--font-size)*1.5) !important;
}

/*	Pour remplacement de la flèche indiquant le scrolling. */
/* .bigfoot-footnote.is-scrollable:after {
background-image:url('') !important; */
/* opacity:.45 !important;
} */

.bigfoot-footnote p {
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1.1);
text-indent:0;
font-family:'Noto Serif', 'Georgia', serif;
font-weight:400;
}
/*	Lorsque la note inclut des références en liste. */
.bigfoot-footnote p + ol,
.bigfoot-footnote p + ol p {
margin:.25rem 0 0 0;
padding:0;
}
.bigfoot-footnote ol + p { display:none; }
.bigfoot-footnote sup.ft-ref, .footnotes sup.ft-ref {
margin-left:.15rem;
font-weight:600;
color:#B30000;
}

/*	En fin de texte, les notes de bas de page (JavaScript désactivé) */
.footnotes ol {
margin:0;
padding:0;
}

.footnotes li {
margin:0 0 .5rem 1.65rem;
padding:0 0 0 .5rem;
list-style-position:outside;
}
.footnotes li, .footnotes li p {
font-size:calc(var(--font-size)*.8);
line-height:calc(var(--baseline)*1.1);
text-indent:0;
}

/*	Lorsque la note inclut des références en liste. */
.footnotes p + ol { margin:0 0 0 -.6rem; }
.footnotes p + ol li { margin:.15rem 0 0 1.65rem; }

/*	Lorsque la note inclut une N.D.E. */
.ft-nde {
display:block;
margin-top:calc(var(--baseline)*.75);
padding-top:calc(var(--baseline)*.75);
border-top:1px dotted;
}

/*	mrvbToC, en remplacement des widgets « Pages » et « Liste des catégories »
	----------------------------------------------------------------------------------- */
/*	1. Éléments de style empruntés au fichier pierrot-pendu-editions/plugins/mrvbTOC/_public.php */
.mrvbToC .less.active .read-more, .mrvbToC .read-less { display:none; }
.mrvbToC .less.active .read-less { display:inline-block; }
/*	2. Pour rappel, la stylisation des titres des rubriques « Textes » et « Pages » est faite depuis le backoffice, où il est possible de passer du code dans les champs dédiés à la personnalisation du widget.
	Soit :
	<span style="display:block; margin-bottom:calc(var(--baseline)*.3); font-family:'Noto Serif Display'; font-weight:500; font-size:calc(var(--font-size)*1.1); line-height:calc(var(--baseline)*1.35);">Ouvrages et&nbsp;textes disponibles</span>
	<span style="display:block; margin-bottom:calc(var(--baseline)*.3); font-family:'Noto Serif Display'; font-weight:500; font-size:calc(var(--font-size)*1.1); line-height:calc(var(--baseline)*1.35);">Nos belles pages</span> */
/*	3. La hiérarchie : auteur > titre > volumes > chapitres */
.mrvbToC ul li.posts,
.mrvbToC ul li.pages {
margin-top:.5rem;
list-style-type:none;
line-height:calc(var(--baseline)*1.35);
}
.mrvbToC ul li.posts { margin-bottom:.5rem; }

ul .category li.category a {
font-family:'Noto Serif Display';
font-weight:500;
font-size:calc(var(--font-size)*1);
}
.more ul { margin-bottom:.2rem; }
ul .category li.category li.category a { font-size:inherit; }
ul .category li.category li.entry a {
font-family:inherit;
font-weight:inherit;
line-height:inherit;
font-size:inherit;
}
/*	4. Éléments de style en complément */
ul .category li.category a.read-more, a.read-less {
font-size:calc(var(--font-size)*.9);
vertical-align:7%;
color:#000;
opacity:.45;
}
ul .category li.category a.read-more:hover, a.read-less:hover {
color:#B30000;
opacity:1;
	text-decoration-line:none;
}
/*a.read-more, a.read-less { color:#000; opacity:.45; }
a.read-more:hover, a.read-less:hover { color:#B30000; opacity:1; }

/*	ContactMe, un plugin de prise contact par formulaire
	----------------------------------------------------------------------------------- */
/*	Le lien (présent dans toutes les pages) */
body.dc-contactme .widget.contact-me { display:none; } /* Je disparais dans la page du formulaire ! */

.widget.contact-me p::before { content:'\0040\0020'; opacity:.45; }
.widget.contact-me {
margin-top:calc(var(--baseline)*1.5);
/* font-weight:300; */
}
/*	Le formulaire « ContactMe » */
body.dc-contactme header#content-info h2 {
font-size:calc(var(--font-size)*1.8);
line-height:calc(var(--baseline)*2.05);
}
form#comment-form.contactme fieldset {
margin:0;
padding:0;
border:none;
}
form#comment-form.contactme fieldset p { padding-left:calc(var(--baseline)*1.5); }
form#comment-form.contactme fieldset p.field { padding-left:0; }
form#comment-form.contactme fieldset p.field label { font-weight:300; }

/*	magnificPopup, une lightbox pour les images
	----------------------------------------------------------------------------------- */
/*	La méthode manque d’élégance, mais en l’absence d’images multiples, les informations de défilement disparaissent ! */
.mfp-arrow[type="button"], .mfp-counter { display:none; }

/*	Afin de conserver en toute circonstance la proportion des images dans la lightbox ! */
.mfp-figure img.mfp-img {
min-width:10%;
max-width:100%;
min-height:auto;
max-height:auto;
}



/*	----------------------------------------------------------------------------------- */