@charset "UTF-8";

/*	Singularités éditoriales : styliser avec discernement !
	-----------------------------------------------------------------------------------
	Supplément à la feuille de style du thème Pierrot pendu
	Version 2023-10-0.6 [active] : 2023-10-26
	Basé sur le jeu de templates « dotty »
	Auteur : L’atelier de Virginia Pearl par Alex Gulphe
	2023. Licence CC BY-NC-SA 4.0

	Pour accorder toute l’attention nécessaire 
	aux particularités des publications de la collection Pierrot pendu.
	----------------------------------------------------------------------------------- */



/*	----------------------------------------------------------------------------------- */
/*	Modèles stylistiques partagées */
/*	----------------------------------------------------------------------------------- */
/*	Les pages de titre */
	h3.pt-titre, h4.pt-auteur { padding:0; font-family:'Noto Serif Display', 'Georgia', serif; text-align:center; }
	h3.pt-titre {
	margin-top:calc(var(--font-size)*1.5);
	font-weight:500;
	font-size:calc(var(--font-size)*2.35);
	line-height:calc(var(--baseline)*2.75);
	}
	h4.pt-auteur {
	margin-bottom:calc(var(--font-size)*1.5);
	font-weight:400;
	font-size:calc(var(--font-size)*1.5);
	line-height:calc(var(--baseline)*2);
	}

	p.page-titre-top, p.page-titre-bottom {
	font-family:'Noto Serif', 'Georgia', serif;
	font-weight:300;
	font-size:calc(var(--font-size)*.9);
	line-height:calc(var(--baseline)*1.3);
	text-align:center;
	-webkit-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	}
	.post-content p.page-titre-top::before, .post-content p.page-titre-bottom::before { content:none; }
	.post-content p.page-titre-top { border-top:1px solid; padding-top:calc(var(--baseline)*1.5); }
	.post-content p.page-titre-bottom { padding-bottom:calc(var(--baseline)*1.5); }

	.pt-coll, .pt-cat,
	.pt-edition, .pt-editeur, .pt-version, .pt-source { display:block; text-align:center; }
	.pt-source { margin-top:calc(var(--font-size)*3); }
	.pt-coll, .pt-cat, .pt-editeur, .pt-version {
	font-synthesis-small-caps:auto;
	font-feature-settings:'kern' 1,'smcp' 1;
	}

/*	La marque d’imprimeur ou marque typographique */
	img.pt-mark-typo {
	display:block;
	margin:calc(var(--font-size)*3) auto calc(var(--font-size)*.9);
	max-width:12%;
	height:auto;
	opacity:.5;
	}

/*	Les signes typographiques */
/*	Un couillard en guise d’astérisme pour marquer les changements de chapitre ! */
	/* <hr class="asterism"> */
	.post-content hr.asterism {
	margin:calc(var(--baseline)*3) 0 calc(var(--baseline)*1.5);
	display:block;
	clear:both;
	border:0;
	text-align:center;
	}
	.post-content hr.asterism::after {
	content:'\2042';
	font-size:calc(var(--font-size)*1.3);
	font-weight:300; color:#000;
	}

/*	Les exceptions à la feuille de style principale */
/*	Les éléments hors numérotation. */
	/* .post-content p.asterism::before { content:none; } */ /* On ne compte pas les étoiles ! */

/*	Traitement des images : habillage */
	/* See
	https://developer.mozilla.org/fr/docs/Web/CSS/CSS_shapes/Shapes_from_images
	https://developer.mozilla.org/fr/docs/Web/CSS/shape-margin
	https://developer.mozilla.org/fr/docs/Web/CSS/shape-outside
	https://genesis-technology.fr/comment-placer-une-image-entre-deux-colonnes-en-css/ */



/*	----------------------------------------------------------------------------------- */
/*	Les styles applicables aux ouvrages publiés */
/*	----------------------------------------------------------------------------------- */
/*	Bellot-Herment, François-Alexis-Théodore, Historique de la ville de Bar-le-Duc
	1 vol., 1re édition, Commission du Musée de Bar-le-Duc, 1863 : 552 p. */



/*	----------------------------------------------------------------------------------- */
/*	Konarski, Wlodimir ; Forget, Jules, Bar-le-Duc et le Barrois
	2 vol., Bar-le-Duc, 1re édition, Comte-Jacquet, 1909 : viii-510 p. ; 358 p. */