{{tpl:extends parent="__layout.html"}}
<tpl:Block name="head-title"><title>{{tpl:lang Document not found}} &#8211;&nbsp;{{tpl:BlogName remove_html="1"}}</title></tpl:Block>
<tpl:Block name="meta-robots"><meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}"></tpl:Block>
<tpl:Block name="head-linkrel">
<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}">
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}">
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-404"></tpl:Block>

<tpl:Block name="main-content">
<tpl:Block name="main-content-before"></tpl:Block>
<tpl:Block name="content-info-header"><header id="content-info">
<tpl:Block name="content-info-header-title"><h2>{{tpl:lang Document not found}}</h2></tpl:Block>
<tpl:Block name="content-info-header-content"><p>{{tpl:lang URL you've tried has typos, or the page has been deleted or moved.}}</p></tpl:Block>
</header></tpl:Block>
<tpl:Block name="content-inner">
<tpl:Block name="content-inner-before"></tpl:Block>
<div class="content-inner">
<tpl:Block name="content-inner-header"><h3>{{tpl:lang Suggestions:}}</h3></tpl:Block>
<tpl:Block name="content-inner-content"><ul>
	<li><a href="{{tpl:BlogURL}}">{{tpl:lang Go to homepage}}</a></li>
	<li><a href="#search">{{tpl:lang Use search form}}</a></li>
	<li><a href="{{tpl:BlogURL}}archive">{{tpl:lang Explore archives}}</a></li>
</ul></tpl:Block>
</div> <!-- # End #content-inner -->
<tpl:Block name="content-inner-after"></tpl:Block>
</tpl:Block>
<tpl:Block name="main-content-after"></tpl:Block>
</tpl:Block>
