<!-- #Pierrot pendu [_entry-content.html] -->
<tpl:Block name="_entry-content-before"></tpl:Block>
<tpl:Block name="_entry-content-main">
<article class="post <tpl:EntryIf republished="1">updated</tpl:EntryIf> simple" id="p{{tpl:EntryID}}" lang="{{tpl:EntryLang}}">
<tpl:Block name="_entry-content-header"><header>
<tpl:Block name="_entry-content-header-title"><h2 class="post-title">{{tpl:EntryTitle}}</h2></tpl:Block>
<tpl:Block name="_entry-content-header-info"><div class="post-meta">
<tpl:Block name="_entry-content-header-post-info">
<p class="post-info"><span class="post-author">{{tpl:lang By}} {{tpl:EntryAuthorLink}}</span> <br><tpl:EntryIf has_category="1"><span class="post-cat"><tpl:EntryCategoriesBreadcrumb><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle}}</a> <br><span class="indic">&#8883;</span>&nbsp;</tpl:EntryCategoriesBreadcrumb><a href="{{tpl:EntryCategoryURL}}">{{tpl:EntryCategory}}</a></span> <br></tpl:EntryIf>
<span class="post-permalink"><a href="{{tpl:EntryURL}}">{{tpl:lang Permalink}}</a></span></p>
</tpl:Block>
</div></tpl:Block>
</header></tpl:Block>

<tpl:Block name="_entry-content-behavior-before-content"> <!-- # --BEHAVIOR-- publicEntryBeforeContent -->
{{tpl:SysBehavior behavior="publicEntryBeforeContent"}}</tpl:Block>
<tpl:Block name="_entry-content-content">
<tpl:Block name="_entry-content-content-excerpt"> <!-- # Entry with an excerpt -->
<tpl:EntryIf extended="1"><div class="post-excerpt">{{tpl:EntryExcerpt}}</div></tpl:EntryIf>
</tpl:Block>
<tpl:Block name="_entry-content-content-main"><div class="post-content">{{tpl:EntryContent}}
<!-- #Les mots-clés — toujours — en fin de chapitre (billet) -->
<div class="post-meta" role="contentinfo">
<tpl:Block name="_entry-content-header-post-tags"><tpl:EntryTags>
<tpl:TagsHeader><ul class="post-tags-list"></tpl:TagsHeader>
	<li class="post-tags-item"><a href="{{tpl:TagURL}}">{{tpl:TagID}}</a></li>
<tpl:TagsFooter></ul></tpl:TagsFooter>
</tpl:EntryTags>
</tpl:Block>
</div>
<!-- #Fin de modification -->
</div></tpl:Block>
</tpl:Block>

<tpl:Block name="_entry-content-behavior-after-content"> <!-- # --BEHAVIOR-- publicEntryAfterContent -->
{{tpl:SysBehavior behavior="publicEntryAfterContent"}}
</tpl:Block>

<tpl:Block name="_entry-content-attachments"> <!-- # Attachments -->
<tpl:Attachments>
<tpl:AttachmentsHeader><footer class="post-attachments" id="attachments">
<h3 class="post-attachments-title">{{tpl:lang Attachments}}</h3>
<ul class="post-attachments-list">
</tpl:AttachmentsHeader>
<li class="post-attachments-item {{tpl:AttachmentType}}">
<tpl:AttachmentIf is_audio="1">{{tpl:include src="_audio_player.html"}}</tpl:AttachmentIf>
<tpl:AttachmentIf is_video="1">{{tpl:include src="_video_player.html"}}</tpl:AttachmentIf>
<tpl:AttachmentIf is_audio="0" is_video="0"><a href="{{tpl:AttachmentURL}}" title="{{tpl:AttachmentFileName}} ({{tpl:AttachmentSize}})">{{tpl:AttachmentTitle}}</a></tpl:AttachmentIf>
</li>
<tpl:AttachmentsFooter>
</ul>
</footer>
</tpl:AttachmentsFooter>
</tpl:Attachments>
</tpl:Block>
</article></tpl:Block>
<tpl:Block name="_entry-content-after"></tpl:Block>
