<tpl:Block name="_entry-title-before"></tpl:Block>

<tpl:Block name="_entry-title-main"> <!-- Pierrot pendu [_entry-title.html] -->
<article id="p{{tpl:EntryID}}" class="post <tpl:EntryIf republished="1">updated</tpl:EntryIf> {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}} title" lang="{{tpl:EntryLang}}">
		<tpl:Block name="_entry-title-header">
			<header>
				<tpl:Block name="_entry-title-header-date">
					<!-- # New day date -->
					<tpl:DateHeader>
						<p class="day-date"><time datetime="{{tpl:EntryDate iso8601="1"}}">{{tpl:EntryDate format="%Y"}}</time></p>
					</tpl:DateHeader>
				</tpl:Block>
				<tpl:Block name="_entry-title-header-title">
					<h2 class="post-title"><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle}}</a></h2>
				</tpl:Block>
			</header>
		</tpl:Block>
		<tpl:Block name="_entry-title-behavior-before-content">
			<!-- # --BEHAVIOR-- publicEntryBeforeContent -->
			{{tpl:SysBehavior behavior="publicEntryBeforeContent"}}
		</tpl:Block>
		<tpl:Block name="_entry-title-content">
			<tpl:Block name="_entry-title-content-excerpt"></tpl:Block>
			<tpl:Block name="_entry-title-content-main"></tpl:Block>
		</tpl:Block>
		<tpl:Block name="_entry-title-behavior-after-content">
			<!-- # --BEHAVIOR-- publicEntryAfterContent -->
			{{tpl:SysBehavior behavior="publicEntryAfterContent"}}
		</tpl:Block>
		<tpl:Block name="_entry-title-footer">
			<footer class="post-meta">
				<tpl:Block name="_entry-title-footer-info"></tpl:Block>
					<tpl:Block name="_entry-title-footer-post-info">
						<p class="post-info">
							<span class="post-author">{{tpl:lang By}} {{tpl:EntryAuthorLink}}</span> <br>
							<!--<tpl:EntryIf has_category="1">
								<tpl:EntryCategoriesBreadcrumb><span class="post-breadcrumb-cat"><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle}}</a></span> <br><span class="indic">&#8883;</span>&nbsp;</tpl:EntryCategoriesBreadcrumb><span class="post-cat"><a href="{{tpl:EntryCategoryURL}}">{{tpl:EntryCategory}}</a></span>
							</tpl:EntryIf> -->
						</p>
					</tpl:Block>
					<tpl:Block name="_entry-title-footer-post-tags"></tpl:Block>
				</tpl:Block>
				<tpl:Block name="_entry-title-footer-counters">
					<!-- # Number of comments, trackbacks and attachments -->
					<tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
						<p class="post-info-co">
					</tpl:EntryIf>
					<tpl:EntryIf show_comments="1">
						<a href="{{tpl:EntryURL}}#comments" class="comment_count">{{tpl:EntryCommentCount}}</a>
					</tpl:EntryIf>
					<tpl:EntryIf show_pings="1">
						<a href="{{tpl:EntryURL}}#pings" class="ping_count">{{tpl:EntryPingCount}}</a></tpl:EntryIf>
					<tpl:EntryIf has_attachment="1">
						<a href="{{tpl:EntryURL}}#attachments" class="attach_count">{{tpl:EntryAttachmentCount}}</a></tpl:EntryIf>
					<tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
						</p>
					</tpl:EntryIf>
				</tpl:Block>
			</footer>
		</tpl:Block>
</article>
</tpl:Block>
<tpl:Block name="_entry-title-after"></tpl:Block>
