<!-- #Pierrot pendu [_entry-feedback.html] -->
<tpl:Block name="_entry-feedback-before"></tpl:Block>
<tpl:Block name="_entry-feedback-content">
<tpl:EntryIf operator="or" show_comments="1" show_pings="1"><section class="post-feedback"></tpl:EntryIf>
<tpl:Block name="_entry-feedback-comments"> <!-- # Comments -->
<tpl:EntryIf show_comments="1">
<tpl:Block name="_entry-feedback-comments-before"></tpl:Block>
<tpl:Block name="_entry-feedback-comments-content">
<tpl:Comments with_pings="1">
<tpl:Block name="_entry-feedback-comments-comment-header"><tpl:CommentsHeader>
<div class="feedback__comments" id="comments">
<h3>{{tpl:EntryCommentCount count_all="1" none="no comments" one="one comment" more="%d comments"}}</h3>
<!-- #Je supprime le fil RSS pour les commentaires associés à la publication -->
<ul class="comments-list">
</tpl:CommentsHeader></tpl:Block>
<tpl:Block name="_entry-feedback-comments-comment-main">
<tpl:Block name="_entry-feedback-comments-comment-info">
<tpl:CommentIf is_ping="0"><li id="c{{tpl:CommentID}}" class="comment {{tpl:CommentIfMe}} {{tpl:CommentIfOdd}} {{tpl:CommentIfFirst}}"></tpl:CommentIf>
<tpl:CommentIf is_ping="1"><li id="c{{tpl:PingID}}" class="ping {{tpl:PingIfOdd}} {{tpl:PingIfFirst}}"></tpl:CommentIf>
<p class="comment-info"><a href="#c{{tpl:CommentID}}" class="comment-number">{{tpl:CommentOrderNumber}}.</a>{{tpl:lang From}} {{tpl:CommentAuthorLink}}, <time datetime="{{tpl:CommentDate iso8601="1"}}">{{tpl:CommentDate format="%Y"}}-{{tpl:CommentDate format="%m"}}-{{tpl:CommentDate format="%d"}}</time>.</p>
</tpl:Block>
<tpl:Block name="_entry-feedback-comments-comment-content">
<div class="comment-content"> <!-- # --BEHAVIOR-- publicCommentBeforeContent -->
{{tpl:SysBehavior behavior="publicCommentBeforeContent"}}
{{tpl:CommentContent}} <!-- # --BEHAVIOR-- publicCommentAfterContent -->
{{tpl:SysBehavior behavior="publicCommentAfterContent"}}
</div>
</tpl:Block></li>
</tpl:Block>
<tpl:Block name="_entry-feedback-comments-comment-footer"><tpl:CommentsFooter>
</ul>
</div>
</tpl:CommentsFooter></tpl:Block>
</tpl:Comments>
</tpl:Block>
<tpl:Block name="_entry-feedback-comments-after"></tpl:Block>
</tpl:EntryIf>
</tpl:Block>
<tpl:Block name="_entry-feedback-form">
<tpl:EntryIf comments_active="1">
<tpl:Block name="_entry-feedback-form-message">
<tpl:SysIfFormError><p class="error" id="pr">{{tpl:SysFormError}}</p></tpl:SysIfFormError>
<tpl:SysIfCommentPublished><p class="message" id="pr">{{tpl:lang Your comment has been published.}}</p></tpl:SysIfCommentPublished>
<tpl:SysIfCommentPending><p class="message" id="pr">{{tpl:lang Your comment has been submitted and will be reviewed for publication.}}</p></tpl:SysIfCommentPending>
</tpl:Block>
<tpl:Block name="_entry-feedback-form-before"></tpl:Block>
<tpl:Block name="_entry-feedback-form-main">
<!-- # Comment form -->
<form class="comment-form" action="{{tpl:EntryURL}}#pr" method="post" id="comment-form">
<tpl:Block name="_entry-feedback-form-preview">
<tpl:IfCommentPreview><div id="pr">
<tpl:Block name="_entry-feedback-form-preview-title"><h3>{{tpl:lang Your comment}}</h3></tpl:Block>
<tpl:Block name="_entry-feedback-form-preview-content"><div class="comment-preview">{{tpl:CommentPreviewContent}}</div></tpl:Block>
<tpl:Block name="_entry-feedback-form-preview-actions"><p class="buttons"><button type="submit" class="submit" value="{{tpl:lang Send}}">{{tpl:lang Send}}</button></p></tpl:Block>
</div></tpl:IfCommentPreview>
</tpl:Block>
<tpl:Block name="_entry-feedback-form-title"><h3>{{tpl:lang Add a comment}}</h3></tpl:Block>
<tpl:Block name="_entry-feedback-form-content">
<tpl:Block name="_entry-feedback-form-content-fields">
<!-- # --BEHAVIOR-- publicCommentFormBeforeContent -->
{{tpl:SysBehavior behavior="publicCommentFormBeforeContent"}}
<p class="field name-field"><label for="c_name">{{tpl:lang Name or nickname}}</label>
<input name="c_name" id="c_name" type="text" size="30" maxlength="255" value="{{tpl:CommentPreviewName encode_html="1"}}" placeholder="Champ obligatoire" required></p>
<p class="field mail-field"><label for="c_mail">{{tpl:lang Email address}}</label>
<input name="c_mail" id="c_mail" type="email" size="30" maxlength="255" value="{{tpl:CommentPreviewEmail encode_html="1"}}" placeholder="Champ obligatoire" required></p>
<p class="field site-field"><label for="c_site">{{tpl:lang Website}}</label>
<input name="c_site" id="c_site" type="url" size="30" maxlength="255" value="{{tpl:CommentPreviewSite encode_html="1"}}"></p>
<p style="display:none"><input name="f_mail" type="text" size="30" maxlength="255" value=""></p>
<p class="field field-content"><label for="c_content">{{tpl:lang Comment}}</label>
<textarea name="c_content" id="c_content" cols="35" rows="7" placeholder="Champ obligatoire" required aria-describedby="c_help">{{tpl:CommentPreviewContent raw="1" encode_html="1"}}</textarea></p>
<p class="form-help" id="c_help">{{tpl:CommentHelp}}</p>
<!-- # --BEHAVIOR-- publicCommentFormAfterContent -->
{{tpl:SysBehavior behavior="publicCommentFormAfterContent"}}
</tpl:Block>
<tpl:Block name="_entry-feedback-form-content-actions"><p class="buttons"><button type="submit" class="preview" name="preview" value="{{tpl:lang Preview}}">{{tpl:lang Preview}}</button>
<tpl:IfCommentPreviewOptional><button type="submit" class="submit" value="{{tpl:lang Send}}">{{tpl:lang Send}}</button></tpl:IfCommentPreviewOptional></p></tpl:Block>
</tpl:Block>
</form>
</tpl:Block>
<tpl:Block name="_entry-feedback-form-after"></tpl:Block>
</tpl:EntryIf>
</tpl:Block>
<tpl:Block name="_entry-feedback-ping">
<tpl:EntryIf pings_active="1"><div class="send-ping">
<tpl:Block name="_entry-feedback-ping-title"><h3>{{tpl:lang Add ping}}</h3></tpl:Block>
<tpl:Block name="_entry-feedback-ping-content"><p id="ping-url">{{tpl:EntryPingLink}}</p></tpl:Block>
</div></tpl:EntryIf>
</tpl:Block>
<tpl:EntryIf operator="or" show_comments="1" show_pings="1"></section> <!-- # end post-feedback --></tpl:EntryIf>
</tpl:Block>
<tpl:Block name="_entry-feedback-after"></tpl:Block>
