<tpl:Block name="_entry-short-before"></tpl:Block>

<tpl:Block name="_entry-short-main"> <!-- #Pierrot pendu [_entry-short.html] -->
<article id="p{{tpl:EntryID}}" class="post <tpl:EntryIf republished="1">updated</tpl:EntryIf> short {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}}" lang="{{tpl:EntryLang}}">
<tpl:Block name="_entry-short-header">
<header>
<tpl:Block name="_entry-short-header-title"><h2 class="post-title"><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle}}</a></h2></tpl:Block>
<!-- #J’ajoute les métadonnées… -->
<tpl:Block name="_entry-short-content-header-info">
<div class="post-meta">
<tpl:Block name="_entry-short-content-header-post-info">
<p class="post-info">
<span class="post-author">{{tpl:lang By}} {{tpl:EntryAuthorLink}}</span> <br>
<tpl:EntryIf has_category="1"><span class="post-cat"><tpl:EntryCategoriesBreadcrumb><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle}}</a> <br><span class="indic">&#8883;</span>&nbsp;</tpl:EntryCategoriesBreadcrumb><a href="{{tpl:EntryCategoryURL}}">{{tpl:EntryCategory}}</a></span></tpl:EntryIf>
</tpl:Block>
</div>
</tpl:Block>
</header>
</tpl:Block>

<tpl:Block name="_entry-short-behavior-before-content">
<!-- # --BEHAVIOR-- publicEntryBeforeContent -->
{{tpl:SysBehavior behavior="publicEntryBeforeContent"}}
</tpl:Block>
<tpl:Block name="_entry-short-content">
<tpl:Block name="_entry-short-content-excerpt">
<!-- #Entry with an excerpt -->
<tpl:EntryIf extended="1">
<div class="post-content">
{{tpl:EntryExcerpt}}
<p class="post-read-it"><a href="{{tpl:EntryURL}}" title="{{tpl:lang Continue reading}} {{tpl:EntryTitle remove_html="1"}}">{{tpl:lang Continue reading}}</a></p>
</div>
</tpl:EntryIf>
</tpl:Block>

<tpl:Block name="_entry-short-content-main">
<!-- #Entry without excerpt -->
<tpl:EntryIf extended="0">
<div class="post-content">
<!-- #Des extraits formatés ou non ? {{tpl:EntryContent encode_html="1" remove_html="1" cut_string="560"}}<tpl:EntryIfContentCut encode_html="1" remove_html="1" cut_string="560"> -->
<tpl:EntryIfContentCut cut_string="560">{{tpl:EntryContent cut_string="560"}}</tpl:EntryIfContentCut>
<!-- #L’indication d’un texte manquant… -->
<p class="ellipsis">[&#8230;]</p>
<!-- #… suivie de l’invitation à « Lire la suite… » -->
<p class="post-read-it"><a href="{{tpl:EntryURL}}" title="{{tpl:lang Continue reading}} {{tpl:EntryTitle remove_html="1"}}">{{tpl:lang Continue reading}}</a></p>
<!-- #Les mots-clés — toujours — en fin de chapitre (billet) -->
<div class="post-meta" role="contentinfo">
<tpl:Block name="_entry-short-footer-post-tags">
<tpl:EntryTags><tpl:TagsHeader><ul class="post-tags-list"></tpl:TagsHeader>
	<li class="post-tags-item"><a href="{{tpl:TagURL}}">{{tpl:TagID}}</a></li>
<tpl:TagsFooter></ul></tpl:TagsFooter>
</tpl:EntryTags></tpl:Block>
<!-- #Les mots-clés : fin de modification -->

<!-- #Ajout de l’information concernant les pièces jointes et les commentaires -->
<!-- # --BEHAVIOR-- publicEntryAfterContent -->
{{tpl:SysBehavior behavior="publicEntryAfterContent"}}
<!-- # Number of comments and attachments -->
<!-- #À conserver ? <tpl:EntryIf operator="or" show_attachment="1" show_comments="1"><ul class="post-info-co"></tpl:EntryIf> -->
<ul class="post-info-co">
	<li class="post-info-co-item"><a href="{{tpl:EntryURL}}#attachments" class="attach_count">{{tpl:EntryAttachmentCount}}</a></li>
	<li class="post-info-co-item"><a href="{{tpl:EntryURL}}#comments" class="comment_count">{{tpl:EntryCommentCount}}</a></li>
</ul>
<!-- #À conserver ? <tpl:EntryIf operator="or" show_attachment="1" show_comments="1"></ul></tpl:EntryIf> -->
<!-- #Les pièces jointes et les commentaires : fin de modification -->
</div>
</div>
</tpl:EntryIf>
</tpl:Block>
</tpl:Block>
</article>
</tpl:Block>

<!-- #À conserver ? <tpl:Block name="_entry-short-after"></tpl:Block> -->
