<tpl:Block name="_entry-full-before"></tpl:Block>

<tpl:Block name="_entry-full-main"> <!-- Pierrot pendu [_entry-full.html] -->
	<article id="p{{tpl:EntryID}}" class="post {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}} <tpl:EntryIf republished="1">updated</tpl:EntryIf> full" lang="{{tpl:EntryLang}}">
		<tpl:Block name="_entry-full-header">
			<header>
				<tpl:Block name="_entry-full-header-date">
					<!-- # New day date -->
					<tpl:DateHeader>
						<p class="post-day-date"><time datetime="{{tpl:EntryDate iso8601="1"}}">{{tpl:EntryDate format="%Y"}}</time></p>
					</tpl:DateHeader>
				</tpl:Block>
				<tpl:Block name="_entry-full-header-title">
					<h2 class="post-title"><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle}}</a></h2>
				</tpl:Block>
			</header>
		</tpl:Block>
		<tpl:Block name="_entry-full-behavior-before-content">
			<!-- # --BEHAVIOR-- publicEntryBeforeContent -->
			{{tpl:SysBehavior behavior="publicEntryBeforeContent"}}
		</tpl:Block>
		<tpl:Block name="_entry-full-content">
			<tpl:Block name="_entry-full-content-excerpt">
				<tpl:EntryIf extended="1">
					<div class="post-excerpt">{{tpl:EntryExcerpt}}</div>
				</tpl:EntryIf>
			</tpl:Block>
			<tpl:Block name="_entry-full-content-main">
				<div class="post-content">{{tpl:EntryContent}}</div>
			</tpl:Block>
		</tpl:Block>
		<tpl:Block name="_entry-full-behavior-after-content">
			<!-- # --BEHAVIOR-- publicEntryAfterContent -->
			{{tpl:SysBehavior behavior="publicEntryAfterContent"}}
		</tpl:Block>
		<tpl:Block name="_entry-full-footer">
			<footer class="post-meta">
				<tpl:Block name="_entry-full-footer-info">
					<tpl:Block name="_entry-full-footer-post-info">
						<p class="post-info">
							<span class="post-author">{{tpl:lang By}} {{tpl:EntryAuthorLink}}<!--, </span><span class="post-date"><time datetime="{{tpl:EntryDate iso8601="1"}}">{{tpl:EntryDate format="%Y"}}</time>--></span> <br>
							<tpl:EntryIf has_category="1">
								<span class="post-cat"><tpl:EntryCategoriesBreadcrumb><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle}}</a> <br><span class="indic">&#8883;</span>&nbsp;</tpl:EntryCategoriesBreadcrumb><a href="{{tpl:EntryCategoryURL}}">{{tpl:EntryCategory}}</a></span>
							</tpl:EntryIf>
						</p>
					</tpl:Block>
					<tpl:Block name="_entry-full-footer-post-tags">
						<tpl:EntryTags>
							<tpl:TagsHeader>
								<ul class="post-tags-list">
							</tpl:TagsHeader>
							<li class="post-tags-item"><a href="{{tpl:TagURL}}">{{tpl:TagID}}</a></li>
							<tpl:TagsFooter>
								</ul>
							</tpl:TagsFooter>
						</tpl:EntryTags>
					</tpl:Block>
				</tpl:Block>
				<tpl:Block name="_entry-full-footer-counters">
					<!-- # Number of comments, trackbacks and attachments -->
					<tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
						<p class="post-info-co">
							<tpl:EntryIf show_comments="1">
								<a href="{{tpl:EntryURL}}#comments" class="comment_count">{{tpl:EntryCommentCount}}</a>
							</tpl:EntryIf>
							<tpl:EntryIf show_pings="1">
								<a href="{{tpl:EntryURL}}#pings" class="ping_count">{{tpl:EntryPingCount}}</a></tpl:EntryIf>
							<tpl:EntryIf has_attachment="1">
								<a href="{{tpl:EntryURL}}#attachments" class="attach_count">{{tpl:EntryAttachmentCount}}</a></tpl:EntryIf>
						</p>
					</tpl:EntryIf>
				</tpl:Block>
			</footer>
		</tpl:Block>
	</article>
</tpl:Block>

<tpl:Block name="_entry-full-after"></tpl:Block>
