<tpl:Block name="_footer-before"></tpl:Block>
<tpl:Block name="_footer-content">
<tpl:Block name="_footer-gotop"><div id="gotop">
	<a href="#prelude" title="Retour en haut de la page">{{tpl:lang Page top}}</a>
</div></tpl:Block>
<tpl:Block name="_footer-main">
<footer class="footer" id="footer">
	<tpl:Block name="_footer-behavior-inside">{{tpl:SysBehavior behavior="publicInsideFooter"}}</tpl:Block><tpl:Block name="_footer-engine"><p>{{tpl:BlogName encode_html="1"}} <span  title="à la page d’accueil de l’éditeur de Dotclear (site distant)">{{tpl:SysPoweredBy}}</span> <span class="nobr">|&nbsp;Conception&nbsp;:</span> <a href="https://www.virginiapearl.com/" title="à la page d’accueil de l’atelier de Virginia&nbsp;Pearl (site&nbsp;distant)" class="nobr">Virginia&nbsp;Pearl</a></p></tpl:Block>
</footer>
</tpl:Block>
<tpl:Block name="_footer-behavior">{{tpl:SysBehavior behavior="publicFooterContent"}}</tpl:Block>
<tpl:Block name="_footer-user-footer">{{tpl:include src="user_footer.html"}}</tpl:Block>
</tpl:Block>
<tpl:Block name="_footer-after"></tpl:Block>
