<tpl:Block name="_head-before"></tpl:Block>
<tpl:Block name="_head-content">
<tpl:Block name="_head-meta-viewport"> <!-- #Déclaration Media Queries pour les « tout petit » -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"></tpl:Block>
<tpl:Block name="_head-link-css-screen"><link rel="preload" href="{{tpl:BlogThemeURL}}/style.css" as="style">
<link rel="stylesheet" type="text/css" href="{{tpl:BlogThemeURL}}/style.css" media="screen"></tpl:Block>
<!-- #Je ne sais pas à quoi sert cette ligne 8 qui semble interférer avec la feuille de style « print.css » déclarée ligne 9 ! -->
<tpl:Block name="_head-link-css-print"><link rel="stylesheet" type="text/css" href="{{tpl:BlogQmarkURL}}pf=print.css" media="print"></tpl:Block>
<link rel="stylesheet" type="text/css" href="{{tpl:BlogThemeURL}}/print.css" media="print">
<tpl:Block name="_head-link-js-jquery">
<tpl:SysIf jquery_needed="1"><link rel="preload" href="{{tpl:BlogQmarkURL}}pf={{tpl:BlogJsJQuery}}/jquery.js" as="script">
<script src="{{tpl:BlogQmarkURL}}pf={{tpl:BlogJsJQuery}}/jquery.js"></script></tpl:SysIf>
<!-- #Pour l’insertion des identifiants de titres et de paragraphes -->
<script defer src="{{tpl:BlogThemeURL}}/js/num-paragraphes.js"></script>
</tpl:Block>
<tpl:Block name="_head-link-js-util"><link rel="preload" href="{{tpl:BlogQmarkURL}}pf=util.js" as="script">
<script src="{{tpl:BlogQmarkURL}}pf=util.js"></script></tpl:Block>
<tpl:Block name="_head-user-head">{{tpl:include src="user_head.html"}}</tpl:Block>
<tpl:Block name="_head-behavior">{{tpl:SysBehavior behavior="publicHeadContent"}}</tpl:Block>
</tpl:Block>
<tpl:Block name="_head-after"></tpl:Block>
