<tpl:Block name="_pagination-before"></tpl:Block>
<tpl:Block name="_pagination-content"><tpl:Pagination>  <!-- #Pierrot pendu [_pagination.html] -->
<nav class="pagination" aria-label="{{tpl:lang Pagination}}">
<tpl:Block name="_pagination-content-prev"><tpl:PaginationIf start="0"><span class="indic">&#8592;</span>&nbsp;<a href="{{tpl:PaginationURL offset="-1"}}" class="prev">{{tpl:lang previous entries}}</a> </tpl:PaginationIf></tpl:Block>
<tpl:Block name="_pagination-content-current"><span class="visually-hidden"><span class="indic">&#43061;</span></tpl:Block><tpl:Block name="_pagination-content-next"><tpl:PaginationIf end="0">&nbsp;<a href="{{tpl:PaginationURL offset="+1"}}" class="next">{{tpl:lang next entries}}</a>&nbsp;<span class="indic">&#8594;</span></span></tpl:PaginationIf></tpl:Block>
</nav>
</tpl:Pagination></tpl:Block>
<tpl:Block name="_pagination-after"></tpl:Block>
