<tpl:Block name="_sidebar-before"></tpl:Block>
<tpl:Block name="_sidebar-content"><aside class="sidebar" id="sidebar">
<tpl:IfWidgets type="nav">
<div class="widgets blognav__widgets" id="blognav">
<!-- #Je conserve un titre unique pour l’ensemble des services de type widget -->
<tpl:Block name="_sidebar-blognav-title"><h2 class="blognav__title">{{tpl:lang Blog menu}}</h2></tpl:Block>
<tpl:Block name="_sidebar-blognav-content">{{tpl:Widgets type="nav"}}</tpl:Block>
</div> <!-- # End #blognav -->
</tpl:IfWidgets>
</aside></tpl:Block>
<tpl:Block name="_sidebar-after"></tpl:Block>
