<tpl:Block name="_simple-entry-before"></tpl:Block>
<tpl:Block name="_simple-entry-content"> <!-- #Post content and attachments -->
{{tpl:include src="_entry-content.html"}}</tpl:Block>
<tpl:Block name="_simple-entry-feedback"> <!-- #Comments, pings and comment form -->
{{tpl:include src="_entry-feedback.html"}}</tpl:Block>
<tpl:Block name="_simple-entry-after"></tpl:Block>
