<tpl:Block name="_top-before"></tpl:Block>
<div id="prelude"><!-- #Retour en haut de page via #gotop --></div>
<tpl:Block name="_top-content">
<tpl:Block name="_top-menu">
<div id="menu-simple" role="navigation"> <!-- #plugin Menu simple -->
{{tpl:SimpleMenu id="supranav" description="title"}}
</div>
</tpl:Block>

<div class="header">
<tpl:Block name="_top-banner"><header class="banner">
<tpl:Block name="_top-banner-title"><h1 class="site-title"><a class="site-title__link" href="{{tpl:BlogURL}}"><span class="site-title__text">{{tpl:BlogName encode_html="1"}}</span></a></h1></tpl:Block>
<tpl:Block name="_top-banner-baseline"><span class="site-baseline">{{tpl:BlogDescription remove_html="0"}}</span></tpl:Block>
</header>
</tpl:Block></div>
</tpl:Block>

<tpl:Block name="_top-after"></tpl:Block>
