{{tpl:extends parent="__layout.html"}}
<tpl:Block name="head-title"><title>{{tpl:lang Archives}} &#8211;&nbsp;{{tpl:BlogName remove_html="1"}}</title></tpl:Block>
<tpl:Block name="head-linkrel">
<tpl:Archives>
<link rel="chapter" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate remove_html="1"}}">
</tpl:Archives>
<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}">
<tpl:Categories>
<link rel="section" href="{{tpl:CategoryURL}}" title="{{tpl:CategoryTitle remove_html="1"}}">
</tpl:Categories>
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}">
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-archive"></tpl:Block>

<tpl:Block name="main-content">
<tpl:Block name="main-content-before"></tpl:Block>
<tpl:Block name="main-content-info"><header id="content-info">
<h2>{{tpl:lang Archives}}</h2>
</header></tpl:Block>

<tpl:Block name="main-content-inner"> <!-- #Pierrot pendu [archive.html] -->
<div class="content-inner">
<!-- #Pas d’entrées par date dans les archives ! -->
<tpl:Block name="main-content-other">
<article id="other-criteria">
<!-- #entries sorted by others criterias -->
<tpl:Block name="main-content-other-cat">
<tpl:Categories level="1">
<tpl:CategoriesHeader>
<div id="arch-by-cat" class="arch-block arch-by-cat">
<h3>{{tpl:lang By category}}</h3>
<ul class="arch-list arch-cat-list">
</tpl:CategoriesHeader>
<li><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle}}</a> <br>
<span class="ref-bio">{{tpl:CategoryDescription}}</span>
<tpl:CategoryFirstChildren>
<tpl:CategoriesHeader>
<ul class="arch-list arch-sub-cat-list">
</tpl:CategoriesHeader>
<li><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle}}</a> <br>
<span class="ref-biblio">{{tpl:CategoryDescription}}</span></li>
<tpl:CategoriesFooter>
</ul>
</tpl:CategoriesFooter>
</tpl:CategoryFirstChildren>
</li>
<tpl:CategoriesFooter>
</ul>
</div>
</tpl:CategoriesFooter>
</tpl:Categories>
</tpl:Block>
<!-- #Pas de mots-clés dans les archives ! -->
</article>
</tpl:Block>
<article id="more-arch">
<!-- #others things -->
<div id="arch-by-page" class="arch-block arch-by-page">
<tpl:Entries type="page" no_content="1" lastn="0" selected="0">
<tpl:EntriesHeader>
<h3>{{tpl:lang Pages}}</h3>
<ul class="arch-list arch-page-list">
	</tpl:EntriesHeader><li><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle}}</a></li>
<tpl:EntriesFooter>
</ul>
</tpl:EntriesFooter>
</tpl:Entries>
</div>
</article>
</div> <!-- #End .content-inner -->
</tpl:Block>
<tpl:Block name="main-content-after"></tpl:Block>
</tpl:Block>
{{tpl:include src="_sidebar.html"}}
<tpl:Block name="_sidebar-after"></tpl:Block>
</tpl:Block>
