<!-- Pierrot pendu [archive_month.html] -->
{{tpl:extends parent="__layout.html"}}
<tpl:Block name="head-title">
	<title>{{tpl:lang Archives}} &#8211;&nbsp;{{tpl:ArchiveDate}} &#8211;&nbsp;{{tpl:BlogName remove_html="1"}}</title>
</tpl:Block>
<tpl:Block name="meta-robots">
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}">
</tpl:Block>
<tpl:Block name="head-linkrel">
	<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}">
	<tpl:ArchiveNext>
		<link rel="next" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}">
	</tpl:ArchiveNext>
	<tpl:ArchivePrevious>
		<link rel="prev" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}">
	</tpl:ArchivePrevious>
	<tpl:Entries no_content="1">
		<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle remove_html="1"}}">
	</tpl:Entries>
</tpl:Block>

<tpl:Block name="body-tag">
	<body class="dc-archive-month">
</tpl:Block>

<tpl:Block name="main-content">
	<tpl:Block name="main-content-before"></tpl:Block>
	<tpl:Block name="main-content-navigation-before">
		<nav class="navlinks topnl">
			<tpl:ArchivePrevious><a href="{{tpl:ArchiveURL}}" class="prev">{{tpl:ArchiveDate encode_html="1"}}</a> &#8211;&nbsp;</tpl:ArchivePrevious>{{tpl:ArchiveDate}}<tpl:ArchiveNext> &#8211;&nbsp;<a href="{{tpl:ArchiveURL}}" class="next">{{tpl:ArchiveDate encode_html="1"}}</a></tpl:ArchiveNext>
		</nav>
	</tpl:Block>
	<tpl:Block name="main-content-info">
		<header id="content-info">
			<h2>
				<time datetime="{{tpl:ArchiveDate format="%Y-%m"}}">{{tpl:ArchiveDate}}</time> <span>({{tpl:ArchiveEntriesCount}})</span>
			</h2>
		</header>
	</tpl:Block>
	<tpl:Block name="main-content-inner">
		<div class="content-inner">
			<tpl:Entries>
				{{tpl:include src="_entry-short.html"}}
			</tpl:Entries>
		</div>
	</tpl:Block>
	<!--<tpl:Block name="main-content-navigation-after">
		<!--<nav class="navlinks">
			<tpl:ArchivePrevious><a href="{{tpl:ArchiveURL}}" class="prev">{{tpl:ArchiveDate encode_html="1"}}</a> &#8211;&nbsp;</tpl:ArchivePrevious>{{tpl:ArchiveDate}}<tpl:ArchiveNext> &#8211;&nbsp;<a href="{{tpl:ArchiveURL}}" class="next">{{tpl:ArchiveDate encode_html="1"}}</a></tpl:ArchiveNext>
		</nav>-->
	<!--</tpl:Block>-->
	<tpl:Block name="main-content-after"></tpl:Block>
</tpl:Block>
