{{tpl:extends parent="__layout.html"}}
<tpl:Block name="head-title"><title>{{tpl:CategoryTitle remove_html="1"}} &#8211;&nbsp;{{tpl:BlogName remove_html="1"}}<tpl:PaginationIf start="0"> &#8211;&nbsp;{{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title></tpl:Block>
<tpl:Block name="meta-robots"><meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}"></tpl:Block>
<tpl:Block name="meta-entry"><meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:CategoryDescription encode_html="1" cut_string="180" remove_html="1"}}">
<meta name="author" content="{{tpl:BlogEditor remove_html="1"}}">
<meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}"></tpl:Block>

<tpl:Block name="head-linkrel">
<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}">
<tpl:Entries no_content="1">
<tpl:EntriesHeader>
<tpl:Pagination>
<tpl:PaginationIf end="0"><link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}"></tpl:PaginationIf>

<tpl:PaginationIf start="0"><link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}"></tpl:PaginationIf>
</tpl:Pagination>
</tpl:EntriesHeader>

<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle remove_html="1"}}">
</tpl:Entries>
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:CategoryFeedURL type="atom"}}">
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-category"></tpl:Block>

<tpl:Block name="main-content"> <!-- #Pierrot pendu [category.html] -->
<tpl:Block name="main-content-before"></tpl:Block>
<tpl:Block name="main-content-main">
<tpl:Block name="main-content-header">
<header id="content-info">
<tpl:Block name="main-content-header-title"><h2 class="category-enfant"><tpl:CategoryParents><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle}}</a> <br><span class="indic">&#8883;</span>&nbsp;</tpl:CategoryParents>{{tpl:CategoryTitle}}</h2></tpl:Block>
<tpl:Block name="main-content-header-feed">
<tpl:CategoryIf has_entries="1">
<ul class="content-info__feed">
	<li><a type="application/atom+xml" href="{{tpl:CategoryFeedURL type="atom"}}" title="{{tpl:lang This category's entries Atom feed}}" class="feed">{{tpl:lang Entries feed}}</a></li>
	<tpl:SysIf operator="or" comments_active="1" pings_active="1"><li><a type="application/atom+xml" href="{{tpl:CategoryFeedURL type="atom"}}/comments" title="{{tpl:lang This category's comments Atom feed}}" class="feed">{{tpl:lang Comments feed}}</a></li>
</tpl:SysIf>
</ul>
</tpl:CategoryIf></tpl:Block>

<tpl:Block name="main-content-header-subcats">
<tpl:CategoryFirstChildren><tpl:CategoriesHeader>
<div id="subcategories" class="content-info__sub-cat">
<h3>{{tpl:lang Subcategories}}</h3>
<ul>
</tpl:CategoriesHeader>
	<li class="post-cat"><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle}}</a></li>
<tpl:CategoriesFooter>
</ul>
</div>
</tpl:CategoriesFooter>
</tpl:CategoryFirstChildren>
</tpl:Block>
</header> <!-- #End #content-info -->
</tpl:Block>

<tpl:Block name="main-content-inner"></tpl:Block>
<div class="content-inner">
<tpl:Entries>{{tpl:include src="_entry-short.html"}}
<tpl:EntriesFooter>{{tpl:include src="_pagination.html"}}</tpl:EntriesFooter></tpl:Entries>
</div> <!-- #End #content-inner -->
</tpl:Block>
</tpl:Block>
<tpl:Block name="main-content-after"></tpl:Block>
</tpl:Block>
