{{tpl:extends parent="__layout.html"}}
<tpl:Block name="head-title"><title>{{tpl:EntryTitle remove_html="1"}} &#8211;&nbsp;{{tpl:BlogName remove_html="1"}}</title></tpl:Block>
<tpl:Block name="meta-entry"><meta name="description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryContent full="1" remove_html="1" cut_string="180"}}">
<meta name="author" content="{{tpl:EntryAuthorCommonName remove_html="1"}}">
<meta name="date" content="{{tpl:EntryDate iso8601="1"}}"></tpl:Block>

<tpl:Block name="head-linkrel">
<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}">
<tpl:EntryIf pings_active="1">
<link rel="pingback" href="{{tpl:BlogXMLRPCURL}}">
</tpl:EntryIf>
<tpl:EntryNext><link rel="next" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle remove_html="1"}}"></tpl:EntryNext>
<tpl:EntryPrevious><link rel="prev" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle remove_html="1"}}"></tpl:EntryPrevious>
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}">
</tpl:Block>

<tpl:Block name="html-head">{{tpl:parent}}
<tpl:EntryIf comments_active="1">
<script type="application/json" id="dc_post_remember_str-data">{ "post_remember_str": "{{tpl:lang Remember me on this blog}}" }</script>
<script src="{{tpl:BlogQmarkURL}}pf=post.js"></script>
</tpl:EntryIf>
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-post"></tpl:Block>

<tpl:Block name="page-top">{{tpl:EntryPingData}}{{tpl:parent}}</tpl:Block>
<tpl:Block name="main-content"> <!-- #Pierrot pendu [post.html] -->
<tpl:Block name="main-content-before"></tpl:Block>
<tpl:Block name="post-navigation-before">
<nav class="navlinks topnl" aria-label="{{tpl:lang Entries}}"><tpl:EntryPrevious><span class="indic">&#8592;</span>&nbsp;<a href="{{tpl:EntryURL}}" class="prev">{{tpl:EntryTitle cut_string="32"}}</a></tpl:EntryPrevious>
<span class="indic">&#43061;</span><tpl:EntryNext>&nbsp;<a href="{{tpl:EntryURL}}" class="next">{{tpl:EntryTitle cut_string="32"}}</a>&nbsp;<span class="indic">&#8594;</span></tpl:EntryNext></nav>
</tpl:Block>
<tpl:Block name="post-content">{{tpl:include src="_simple-entry.html"}}</tpl:Block>
<tpl:Block name="post-navigation-after">
<nav class="navlinks" aria-label="{{tpl:lang Entries}}"><tpl:EntryPrevious><span class="indic">&#8592;</span>&nbsp;<a href="{{tpl:EntryURL}}" class="prev">{{tpl:EntryTitle cut_string="32"}}</a></tpl:EntryPrevious>
<span class="indic">&#43061;</span><tpl:EntryNext>&nbsp;<a href="{{tpl:EntryURL}}" class="next">{{tpl:EntryTitle cut_string="32"}}</a>&nbsp;<span class="indic">&#8594;</span></tpl:EntryNext></nav>
</tpl:Block>
<tpl:Block name="main-content-after"></tpl:Block>
</tpl:Block>
