{{tpl:extends parent="__layout.html"}}
<tpl:Block name="head-title"><title>{{tpl:lang Search}}&nbsp;: résultat pour la requête «&nbsp;{{tpl:SysSearchString remove_html="1"}}&nbsp;» &#8211;&nbsp;{{tpl:BlogName remove_html="1"}}<tpl:PaginationIf start="0"> &#8211;&nbsp;{{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title></tpl:Block>
<tpl:Block name="meta-robots"><meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}"></tpl:Block>

<tpl:Block name="head-linkrel">
<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}">

<tpl:Entries no_content="1">
<tpl:EntriesHeader><tpl:Pagination>
<tpl:PaginationIf end="0"><link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}"></tpl:PaginationIf>

<tpl:PaginationIf start="0"><link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}"></tpl:PaginationIf>
</tpl:Pagination></tpl:EntriesHeader>

<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle remove_html="1"}}">
</tpl:Entries>
<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}">
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-search"></tpl:Block>

<tpl:Block name="main-content"> <!-- #Pierrot pendu [search.html] -->
<tpl:Block name="main-content-before"></tpl:Block>
<tpl:Block name="content-info-header">
<header id="content-info">
<tpl:Block name="content-info-title"><h2>{{tpl:lang Search}}</h2></tpl:Block>
<tpl:Block name="content-info-main">
<tpl:SysIf search_count="==0"><p>{{tpl:SysSearchString remove_html="1" string="Your search for <em>%1$s</em> returned no result."}}</p></tpl:SysIf> <!-- #Pour les résultats de recherche, remove_html="1" remplace decode_html="1" afin de laisser les caractères comme les quotes ou les esperluettes intactes ! -->
<tpl:SysIf search_count="==1"><p>{{tpl:SysSearchString remove_html="1" string="Your search for <em>%1$s</em> returned <strong>%2$s</strong> result."}}</p></tpl:SysIf>
<tpl:SysIf search_count="&gt;1"><p>{{tpl:SysSearchString remove_html="1" string="Your search for <em>%1$s</em> returned <strong>%2$s</strong> results."}}</p></tpl:SysIf>
</tpl:Block>
<tpl:Block name="content-info-footer"></tpl:Block>
</header>
</tpl:Block>
<tpl:Block name="content-inner"><div class="content-inner">
<tpl:Block name="content-inner-entries"><tpl:Entries>
<tpl:Block name="content-inner-entry">{{tpl:include src="_entry-short.html"}}</tpl:Block>
<tpl:Block name="content-inner-pagination"><tpl:EntriesFooter>
<tpl:Pagination><p class="pagination"><tpl:PaginationIf end="0"><span class="indic">&#8592;</span>&nbsp;<a href="{{tpl:PaginationURL offset="+1"}}" class="prev">{{tpl:lang previous entries}}</a> &#8211;&nbsp;</tpl:PaginationIf>{{tpl:lang page}}&nbsp;{{tpl:PaginationCurrent}}&nbsp;{{tpl:lang of}}&nbsp;{{tpl:PaginationCounter}}
<tpl:PaginationIf start="0">&nbsp;&#8211;&nbsp;<a href="{{tpl:PaginationURL offset="-1"}}" class="next">{{tpl:lang next entries}}</a>&nbsp;<span class="indic">&#8594;</span></tpl:PaginationIf></p></tpl:Pagination>
</tpl:EntriesFooter></tpl:Block>
</tpl:Entries></tpl:Block>
<tpl:Block name="content-inner-footer"></tpl:Block></div> <!-- #End #content-inner -->
</tpl:Block>
<tpl:Block name="main-content-after"></tpl:Block>
</tpl:Block>
