{{tpl:extends parent="__layout.html"}}
<tpl:Block name="head-title"><title>{{tpl:BlogName remove_html="1"}}</title></tpl:Block>
<tpl:Block name="meta-entry"><meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription cut_string="180" remove_html="1"}}">
<meta name="author" content="{{tpl:BlogEditor remove_html="1"}}">
<meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}"></tpl:Block> <!-- #meta-entry -->
<tpl:Block name="head-linkrel">
<link rel="contents" title="{{tpl:lang Entries}}" href="{{tpl:BlogPostsURL}}">
<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}">
<tpl:Categories>
<link rel="section" href="{{tpl:CategoryURL}}" title="{{tpl:CategoryTitle remove_html="1"}}">
</tpl:Categories>
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}">
<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}">
</tpl:Block> <!-- #head-linkrel -->

<tpl:Block name="body-tag"><body class="dc-home dc-home-static"></tpl:Block>

<tpl:Block name="main-content"> <!-- #Pierrot pendu [static.html] -->
<tpl:Block name="main-content-before"></tpl:Block>
<tpl:Block name="main-content-main">
<tpl:IfBlogStaticEntryURL>
<tpl:Block name="main-content-static-entry">{{tpl:BlogStaticEntryURL}}<tpl:Entries>
{{tpl:include src="_simple-entry.html"}}
</tpl:Entries>
</tpl:Block>
{{tpl:else}}
<tpl:Block name="main-content-static-default">
<tpl:Block name="main-content-static-header"><header id="content-info">
<h2>{{tpl:lang Welcome}}</h2>
</header></tpl:Block>
<tpl:Block name="main-content-inner">
<div class="content-inner">
<p>{{tpl:lang The list of recents posts is available}} <a href="{{tpl:BlogPostsURL}}">{{tpl:lang here}}</a>.</p>
</div>
</tpl:Block>
</tpl:Block>
</tpl:IfBlogStaticEntryURL>
</tpl:Block>
<tpl:Block name="main-content-after"></tpl:Block>
</tpl:Block>
