<!DOCTYPE html>
<html lang="{{tpl:BlogLanguage}}">
<!-- #Template emprunté au thème « Ductile » -->
<head>
<meta charset="UTF-8">

<tpl:Block name="head-title">
<title>{{tpl:lang Tag}}&nbsp;: «&nbsp;{{tpl:TagID}}&nbsp;» &#8211;&nbsp;{{tpl:BlogName remove_html="1"}}<tpl:PaginationIf start="0"> &#8211;&nbsp;{{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
</tpl:Block> <!-- #head-title -->
<tpl:Block name="head-meta"><meta name="copyright" content="{{tpl:BlogCopyrightNotice remove_html="1"}}">
<tpl:Block name="meta-robots"><meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}"></tpl:Block> <!-- #meta-robots -->
<tpl:Block name="meta-entry"><meta name="description" lang="{{tpl:BlogLanguage}}" content="Résultat de recherche &#8211;&nbsp;{{tpl:lang Tag}}&nbsp;: {{tpl:TagID}}">
<meta name="author" content="{{tpl:BlogEditor remove_html="1"}}">
<meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}">
</tpl:Block> <!-- #meta-entry -->
</tpl:Block> <!-- #head-meta -->

<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}">

<tpl:Entries no_content="1" order="asc">
<tpl:EntriesHeader>
<tpl:Pagination>
<tpl:PaginationIf end="0"><link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}"></tpl:PaginationIf>

<tpl:PaginationIf start="0"><link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}"></tpl:PaginationIf>
</tpl:Pagination>
</tpl:EntriesHeader>

<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle remove_html="1"}}"></tpl:Entries>

<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:TagFeedURL type="atom"}}">
<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}">
{{tpl:include src="_head.html"}}
</head>

<tpl:Block name="body-tag"><body class="dc-tag"></tpl:Block>
<div id="page">  <!-- #Pierrot pendu [tag.html] -->
{{tpl:include src="_top.html"}}
<div id="wrapper">
<div id="main">
<div id="content">
<div id="content-info">
<h2>{{tpl:lang Tag}}&nbsp;: {{tpl:TagID}}</h2>
</div>
<div class="content-inner">
<tpl:Entries order="asc"> <!-- #les valeurs order="desc" et order="asc" inversent l’ordre des chapitres (billets) de la sélection par mots-clés -->
{{tpl:include src="_entry-short.html"}}
<tpl:EntriesFooter>{{tpl:include src="_pagination.html"}}</tpl:EntriesFooter>
</tpl:Entries>
</div> <!-- #End #content-inner -->
</div> <!-- #End #content -->
</div> <!-- #End #main -->
{{tpl:include src="_sidebar.html"}}
</div> <!-- #End #wrapper -->
{{tpl:include src="_footer.html"}}
</div> <!-- #End #page -->
</body>
</html>
