<!DOCTYPE html>
<html lang="{{tpl:BlogLanguage}}">
<!-- #Template emprunté au thème « Ductile » -->
<head>
<meta charset="UTF-8">

<tpl:Block name="head-title">
<title>{{tpl:lang Tags}}&nbsp;: index général &#8211;&nbsp;{{tpl:BlogName remove_html="1"}}</title>
</tpl:Block> <!-- #head-title -->
<tpl:Block name="head-meta"><meta name="copyright" content="{{tpl:BlogCopyrightNotice remove_html="1"}}">
<tpl:Block name="meta-robots"><meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}"></tpl:Block> <!-- #meta-robots -->
<tpl:Block name="meta-entry"><meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogName remove_html="1"}} &#8211;&nbsp;{{tpl:lang Tags}}&nbsp;: index général">
<meta name="author" content="{{tpl:BlogEditor remove_html="1"}}">
<meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}">
</tpl:Block> <!-- #meta-entry -->
</tpl:Block> <!-- #head-meta -->

<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}">
<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}">
{{tpl:include src="_head.html"}}
</head>

<tpl:Block name="body-tag"><body class="dc-tags"></tpl:Block>

<div id="page">
{{tpl:include src="_top.html"}}
<div id="wrapper">

<div id="main"> <!-- #Pierrot pendu [tags.html] -->
<div id="content">
<article>
<header>
<h2 class="post-title">{{tpl:lang Tags}}&nbsp;: <span class="nobr">index général</span></h2>
</header>
<div class="post-meta">
<p class="post-info"><span class="post-author">{{tpl:lang By}} <a href="https://www.pierrot-pendu.org/">Pierrot pendu</a></span></p>
</div>
<div class="post-content">
<div class="keywords">
<ul class="tags"><tpl:Tags>
	<li><a href="{{tpl:TagURL}}" title="accès aux textes relatifs à «&nbsp;{{tpl:TagID}}&nbsp;»" class="tag{{tpl:TagRoundPercent}}">{{tpl:TagID}}</a></li></tpl:Tags>

</ul>
</div>
</div>
</article>
</div>
</div> <!-- #End #main -->
{{tpl:include src="_sidebar.html"}}
</div> <!-- #End #wrapper -->
{{tpl:include src="_footer.html"}}
</div> <!-- #End #page -->
</body>
</html>
